<section class="sectionWrap">
	<div class="container" [@listAnimation]="searchData.length">
		<div class="innerboxWrap">
			<div class="row"
			infinite-scroll
			[infiniteScrollDistance]="2"
			[infiniteScrollThrottle]="50"
			(scrolled)="onScrollDown()"
			(scrolledUp)="onScrollUp()"
			[infiniteScrollDisabled]="isFullListDisplayed">

				<div class="col-xl-4 col-lg-4" *ngIf="show">
					<app-filtersearch [serverData]="serverData" [searchnewobj]="searchnewobj" [cartype]='cartype'></app-filtersearch>
				</div>
				<!--filter-->
				<div *ngIf="isloader" class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<p class="resulthead">{{ 'showing' | translate}} <span class="fontlato">{{countSearch}}</span> {{ 'searchResult' | translate}}</p>						
					<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
						<div style="color: #ffdab6; margin: 0 auto" class="la-ball-grid-pulse la-3x">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
				<div *ngIf="!isloader" class="col-xl-8 col-lg-8 col-md-12 col-sm-12" @explainerAnim>
					<p class="resulthead">{{ 'showing' | translate}} <span class="fontlato">{{countSearch}}</span> {{ 'searchResult' | translate}}</p>

					<div class="imgboxwrap coll">
						<div class="thumnailwrap" *ngFor="let item of searchData">
							
							<div class="childbox coll" [ngClass]="{'overlaydiv' : item.is_sold==1, 'overlayfeatured' : (item.is_featured==1 && item.is_sold!=1) }"
							 [routerLink]="['/detailresult', item.id]" routerLink="/detailResult" routerLinkActive="active">
							 	<a href="javascript:void(0);" [routerLink]="['/detailresult', item.id]">
									<img *ngIf="item.vehicle_images?.length > 0 && item.vehicle_images[0].type == 0" src="{{ baseUrl }}{{ item.vehicle_images[0].name }}">
									<img *ngIf="item.vehicle_images?.length > 0 && item.vehicle_images[0].type == 1" src="{{ baseUrl }}{{ item.vehicle_images[0].video_image }}">
									<img *ngIf="item.vehicle_images?.length == 0" src="assets/images/nocarfound.png">
								</a>
							</div>


							<div class="txtbox">
								<div class="dflex mb-md-2">
									<div class="">
										<a href="javascript:void(0);" [routerLink]="['/detailresult', item.id]">
											<p  class="mb-0 mb-sm-1 cardetail">
												<span class="fontlato">{{item.yearfrom}}</span> {{item.make.name | translate}} {{item.model.name | translate}} {{item.trim.name}} 
											</p>
										</a>
										<p class="mb-xl-2 mb-0 mb-sm-1 countrytxt">{{item.country.name | translate}},{{item.city.name | translate}} | <span class="carprice">${{item.price}}</span></p>
									</div>

									
								</div>

								<div class="aboutcar mb-xl-2">

									<ul class="list-inline mb-0 mb-lg-2">
										<li class="list-inline-item">
											<span class="sprite usedcar mr-2"></span>
											<i class="fa fa-car"></i>
											{{item.condition.name | translate}}
										</li>
										<li class="list-inline-item">
											<span class="sprite miles mr-2"></span>
											<i class="fa fa-dashboard"></i>
											<span class="fontlato">{{item.kilometer}}</span>  {{ ((item.mileagetype ==
												'km') ? 'Kilometers' : 'Miles')  | translate}}
										</li>
										<li class="list-inline-item">
											<span class="sprite carcolor mr-2"></span>
											<i class="fa fa-paint-brush"></i>
											{{item.colors.name | translate}}
										</li>
										<li class="list-inline-item">
											<i class="fa  fa-hand-stop-o"></i>
											<span class="sprite seats mr-2"></span><span class="fontlato">{{item.seat_id}}</span>
										</li>
									</ul>
								</div>

								<p class="txt14 mb-0">
									{{item.description | excerpt:50}}
								</p>
							</div>
						</div>

						<!-- <pagination-controls *ngIf="countSearch > 10" (pageChange)="currentPage = getServerData($event)" class="PaginationWrap"></pagination-controls> -->
					</div>
					<!--  -->
				</div>
			</div>

		</div>
		<button class="filterimg sprite btn active" (click)="filtercar()"> </button>
	</div>
</section>
<div class="overlay" *ngIf="show"></div>