img {
    max-width: 100%;
    width: 100%;
}
 .selectbox{
    position: relative;
 }

  .searchForm .selectbox:after {
    background: url('/assets/images/Spritesheet.png');
    background-position: -40px -24px;
    width: 12px;
    height: 6px;
    content: '';
    right: 12px;
    top: 18px;
    position: absolute;
    pointer-events: none;
}
label.lbltxt {
    margin-bottom: 3px;
    color: #626262;
    font-size: 14px;
    font-family: 'Raleway';
}
.formwrapper .form-group {
    margin-bottom: 8px;
}

.btnsearch{
    background-color: #ff3b3d;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 4px 20px;
    font-family: 'Raleway';
    font-weight: 600;
    /* width: 50%; */
}

a.clrfltr{
    color: #444444;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}


select.form-control{
    color: #1f1f1f;
    font-family: 'lato';    
    /* font-family: 'Raleway'; */
    font-size: 16px;
    text-transform: capitalize;
}
.resulthead{
        color: #576069;
    font-family: 'Raleway';
    font-weight: 600;
}

.aboutcar ul li i{
    display: none;
}
.imgboxwrap{
    text-align: center;
}
.imgboxwrap img{max-height: 130px;}

.imgboxwrap .thumnailwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row;*/
    flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #eeee;
    margin-bottom: 25px;
    padding: 10px;
}
.imgboxwrap .thumnailwrap:last-child{ margin-bottom: 0px; }
.imgboxwrap .thumnailwrap .childbox{
    flex: 1;
    margin-right: 2%;
    align-self: stretch;
}

/* .imgboxwrap .thumnailwrap .childbox img{
    width: 200px;
    height: 120px;
} */
.imgboxwrap .thumnailwrap .childbox img{height: 100%;}
.imgboxwrap .thumnailwrap .txtbox{
   width: 70%;
   text-align: left;
}

.txtbox p.txt14{font-size: 16px;}

.cardetail{
        color: #1f1f1f;
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 16px;
}
.carprice{
    font-family: 'Lato';color: #ff3b3d;font-weight:600;font-size: 16px;
}
p.countrytxt{
    color: #1f1f1f;
    font-size: 14px;
}

.usedcar{
    background-position: -50px -78px;
    width: 21px;
    height: 17px;
}
.miles{
    background-position: -83px -81px;
    width: 23px;
    height: 12px;
}
.carcolor{
    background-position:-117px -79px;
    width: 20px;
    height: 16px;
}
.seats{
    background-position: -148px -77px;
    width: 14px;
    height: 17px;
}
.aboutcar ul{
    display: -webkit-box;   
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;     
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutcar ul li{
    margin-right: 5%;
    font-weight: 600;
    font-family: 'Raleway';
    color: #1f1f1f;
    font-size: 14px;
}

.aboutcar .txt14{
font-size: 14px;color: #565657;
font-family: 'Raleway';
margin-bottom: 0;
}

.txtbox .dflex{
    display: flex;
    justify-content: space-between;
        align-items: baseline;
}

.filterimg{
    display: none;
}
.formwrapper.bg-white{
    padding: 10px;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .cardetail{
           font-size: 18px;
    }
}

@media only screen and (max-width: 1024px) {
    /* .innerboxWrap{
        width: 100%;
    }*/
    
  .bg-white {
        position: fixed;
        right: 0px;
        z-index: 18;
        height: 100vh;
        overflow: auto;
        top: 0px;
        width:35%;
        border: 1px solid #dadada;
        border-radius: 6px;

    }
    
    .filterimg{
    background-position:-261px -130px;
    width: 72px;
    height: 72px;
    position: fixed;
    right: 2%;
    bottom: 20%;
    z-index: 19;
    display: block;
    }

    .overlay{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    }
.txtbox .dflex{
    flex-direction: column;
}


.imgboxwrap .thumnailwrap{
    margin-bottom: 20px;
}

.innerboxWrap .row .col-lg-8{
    max-width: 100%;
    flex: 0 0 100%;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
    
  
    .aboutcar ul li{
        width: 50%;
        margin-right: 0;
        margin-bottom: 12px;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    .dflex p , .txtbox p , .mylist .row50 p{text-align: left;}  
    .detailcar > .dflex{flex-direction: row;align-items: flex-start;}
    .detailcar > .dflex > .imgwrap{margin-bottom:10px;margin-right: 10px;align-self:flex-start;}
    .detailcar > .dflex > .imgwrap img{min-width: 110px;width: 110px;}
    .detailcar > .dflex .txtbox{margin-left: 0;    width: 100%;}
    .aboutcarc ul li{width: 48%;}
    .aboutcar ul {margin: 10px 0 0px 0px;}
    .mylist{border-radius: 5px;}
    .imgwrap img{max-height: unset;}
    .row50 { width: 60%;}
    p.cardetail{font-size: 14px;}
    p.countrytxt{font-size: 13px}
    .aboutcar ul li{font-size: 11px;color: #666; width: auto;margin: 0;}
    .aboutcar ul li span.sprite{display: none;}
    .aboutcar ul li i{color:#666;display: inline-block;}
    p.txt14,
    .txtbox p.txt14,
    .carprice{font-size: 12px;}
    .imgboxwrap .thumnailwrap .childbox img{height: auto;}
    }
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .mylist{flex-direction: column;}
        .mylist .row50{width: 100%;}
        .caret {position: relative;top: 6px;}
        .navbar.dropnav .dropdown-menu{margin: 16px 0 0;}
        /* .aboutcar ul li{width: 49%;    font-size: 13px;} */
        .aboutcar ul {margin: 0 0 0px 0px;}
        /* .aboutcar ul li:last-child{width: 100%;} */
    }
    
    /******************Alert Modals**************************/
    
    .bidDetailDiv .greyBtn,
    .userMessage .greyBtn {
        background: #8a8a8a none repeat scroll 0 0;
    }
    
    .bidDetailDiv .greyBtn,
    .userMessage .greyBtn,
    .bidDetailDiv .blueBtn,
    .userMessage .blueBtn{
        border: medium none;
        border-radius: 30px;
        color: #fff;
        font-size: 16px;
        padding: 8px 10px;
        width: 120px;
        text-transform: uppercase;
        cursor: pointer;
        vertical-align: middle;
        font-family: 'Raleway';
        font-weight: 600;
        outline: none;
    }
    
    .bidDetailDiv .blueBtn,
    .userMessage .blueBtn {
        background: #ff3f3e none repeat scroll 0 0;
    }
    
    /*---------User Message Modal-------------*/
    
    .userMessage .modal-dialog {
        max-width: 550px;
        width: 100%;
        top: 20%;
    }
    
    .userMessage .modal-content {
        padding: 30px 30px;
    }
    
    .userMessage label {
        text-transform: uppercase;
        color: #000;
        font-family: inherit;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 20px;
    }
    
    .userMessage label,
    .userMessage textarea {
        display: block;
        width: 100%;
        font-size: 18px;
        font-family: 'Varela Round', sans-serif;
    }
    
    .userMessage textarea {
        border: none;
        border-bottom: 1px solid #BBBBBB;
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 2px;
        margin-bottom: 85px;
        height: 28px;
    }
    
    .userMessage .textWrap {
        position: relative;
    }
    
    .userMessage .textWrap:after {
        content: "";
        z-index: 1;
        position: absolute;
        right: -3px;
        bottom: 1px;
        width: 17px;
        height: 16px;
        background: url('/assets/images/note-icon.png');
    }
    
    .userMessage .blueBtn {
        margin-right: 15px;
    }
    
    @media only screen and (max-width: 480px) {
        .detailcar > .dflex > .imgwrap img{min-width: 90px;width: 90px;}
        p.cardetail{
            white-space: nowrap;
            width: 135px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }