
<!-- signup -->
<div class="modal modalPos fade" id="signup">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body seminor-login-modal-body">
            <div class="mb-4">
                <button #closeAddForm type="button" class="close closebtn" data-dismiss="modal" (click)="closeForm(f);">
                    <span class="sprite cross"></span>
                </button>
            </div>
                
            <div class="formwrap"> 
                 <form #f="ngForm" [formGroup]="addUserForm" (ngSubmit)="addUserForm.valid && signUpData(addUserForm.value,f);" novalidate="false">
                    <h2 class="title text-center mb-4 text-uppercase">{{ 'signUp' | translate}}</h2>
                    <div class="form-group text-center">
                        <div class="form-check-inline">
                            <div class="align-items-center d-flex justify-content-between radiowrap">
                                 <input type="radio" checked="checked" name="usertype" (change)=userType()>
                                <span class="checkmark"></span>
                                {{'INDIVIDUAL' | translate}}
                            </div>
                        </div>
                        <div class="form-check-inline">
                            <div class="align-items-center d-flex justify-content-between radiowrap">
                                 <input type="radio" name="usertype" (change)=userType()>
                                <span class="checkmark"></span>
                                {{'DEALER' | translate}}
                            </div>
                        </div>
                        
                    </div>
 
                    <div *ngIf="!isIndividual" class="form-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="{{ 'companyname' | translate}}"  [formControl]="addUserForm.controls['company_name']">
                        <label for="company_name" class="sr-only">{{ 'companyname' | translate}}</label>

                        <p class="errorMessage" *ngIf=" (addUserForm.controls['company_name'].hasError('required') && f.submitted )" style="color:red">*{{ 'errorEnterCompany' | translate}}</p>

                    </div>
                    
                    <div class="form-group">
                      
                        <input type="text" minlength="5" maxlength="50" name="name" class="form-control" pattern="[a-zA-Z][a-zA-Z ]+" [formControl]="addUserForm.controls['name']" placeholder="{{ ((isIndividual) ? 'name' : 'contactPerson')  | translate}}">
                         
                        <p *ngIf="(addUserForm.controls['name'].hasError('required') && f.submitted)" class="errorMessage" style="color:red">*{{ ((isIndividual) ? 'name' : 'contactPerson') | translate}} {{'errorCantEmpty' | translate}}</p>
                        <p class="errorMessage" *ngIf="(addUserForm.controls['name'].hasError('pattern') && f.submitted)" style="color:red">*{{ 'errorAlphabetsAllowed'  | translate}}</p>
                        <p class="errorMessage" *ngIf="(addUserForm.controls['name'].hasError('pattern') == false) && (addUserForm.controls['name'].hasError('minlength') && f.submitted )"
                                style="color:red">*{{ ((isIndividual) ? 'name' : 'contactPerson') | translate}}</p>
                        <label for="name" class="sr-only">{{ ((isIndividual) ? 'name' : 'contactPerson') | translate}}</label>
                    </div>

                    <div class="form-group">
                        <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [formControl]="addUserForm.controls['email']" class="form-control"  autocomplete="off" placeholder="{{ 'email' | translate}}">

                        <p class="errorMessage" *ngIf="(addUserForm.controls['email'].hasError('required') && f.submitted )" style="color:red">*{{'errorEnterEmail' | translate}}</p>
                        <p class="errorMessage" *ngIf="(addUserForm.controls['email'].hasError('pattern') && f.submitted)" style="color:red">*{{'errorInvalidEmpty' | translate}}</p>
                        <label for="email" class="sr-only">{{ 'email' | translate}}</label>
                    </div>

                    <div class="form-group">
                        <input type="tel" name="phone" (keypress)="numOnly($event)" [formControl]="addUserForm.controls['phone']" class="form-control" placeholder="{{ 'phoneNumber' | translate}}" pattern="[0-9]*" minlength="10" maxlength="10">
                        <p class="errorMessage" *ngIf=" (addUserForm.controls['phone'].hasError('required') && f.submitted )" style="color:red">*{{'errorEneterPhone' | translate}}</p>
                            <p class="errorMessage" *ngIf="(addUserForm.controls['phone'].hasError('pattern') && f.submitted)" style="color:red">*{{'errorNumOnly' | translate}}</p>
                            <p class="errorMessage" *ngIf="(addUserForm.controls['phone'].hasError('pattern') == false) && (addUserForm.controls['phone'].hasError('minlength') && f.submitted )"
                                style="color:red">*{{'errorPhoneNumSize' | translate}}</p>
                        <label for="PhoneNo" class="sr-only">{{ 'phoneNumber' | translate}}</label>
                    </div>

                     <div *ngIf="!isIndividual" class="form-group">
                        <input type="text" class="form-control" placeholder="{{ 'licenseNumber' | translate}}" [formControl]="addUserForm.controls['license_number']" >
                        <label for="LicenseNo" class="sr-only">{{ 'licenseNumber' | translate}}</label>

                        <p class="errorMessage" *ngIf=" (addUserForm.controls['license_number'].hasError('required') && f.submitted )" style="color:red">*{{ 'licenseNumber' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                    </div>

                    <div class="form-group">
                         <select name="country_id" class="form-control" [formControl]="addUserForm.controls['country_id']" (change)="getAllCities($event.target.value)">
                                    <option value="null" default disabled>--{{ 'Country' | translate}}--</option>
                                    <option *ngFor="let data of countries; let i = index;" value="{{ data.id }}">
                                        {{ data.key | translate}}
                                    </option>
                                </select>
                        <p class="errorMessage" *ngIf="(addUserForm.controls['country_id'].hasError('required') &&  f.submitted)" style="color:red">*{{ 'Country' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                        <label for="countryName" class="sr-only">{{'Country' | translate}}</label>
                    </div>
                   
                    <div class="form-group">
                        <select name="city_id" class="form-control" [formControl]="addUserForm.controls['city_id']">
                            <option value="null" default disabled>--{{'City' | translate}}--</option>
                            <option *ngFor="let cityData of cities" value="{{ cityData.id }}">
                                {{ cityData.key | translate}}
                            </option>
                        </select>
                        <p class="errorMessage" *ngIf="(addUserForm.controls['city_id'].hasError('required') &&  f.submitted)" style="color:red">*{{ 'City' | translate}} {{ 'errorCantEmpty' | translate}}.</p>
                        <label for="city" class="sr-only">{{'City' | translate}}</label>
                    </div>

                    <div *ngIf="!isIndividual" class="form-group">
                        <input type="text" class="form-control" name="" placeholder="{{'address' | translate}}" [formControl]="addUserForm.controls['address']" >
                        <label for="address" class="sr-only">{{'address' | translate}}</label>

                        <p class="errorMessage" *ngIf=" (addUserForm.controls['address'].hasError('required') && f.submitted )" style="color:red">*{{ 'address' | translate}} {{ 'errorCantEmpty' | translate}}</p>

                    </div>

                    <div class="form-group">
                         <input class="form-control" placeholder="{{'password' | translate}}" type="password" name="password" pattern="^.*(?=.{5,15})[a-zA-Z0-9]*$" [formControl]="addUserForm.controls['password']">
                        
                        <p class="errorMessage" *ngIf="(addUserForm.controls['password'].hasError('required') && f.submitted )" style="color:red">*{{ 'password' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                        <p class="errorMessage" *ngIf="(addUserForm.controls['password'].hasError('pattern') && f.submitted )" style="color:red">*{{ 'errorPasswordSize' | translate}}</p>
                        <label for="password" class="sr-only">{{'password' | translate}}</label>
                    </div>

                    <div class="form-group">
                        <input type="password" name="confirmpassword" pattern="^.*(?=.{5,15})[a-zA-Z0-9]*$" [formControl]="addUserForm.controls['confirmpassword']" class="form-control" autocomplete="off" placeholder="{{ 'confirmPassword' | translate}}">
                        
                        <p class="errorMessage" *ngIf="(addUserForm.controls['confirmpassword'].hasError('required') && f.submitted )" style="color:red">*{{'errorConfirmNewPassword' | translate}}</p>
                        <p class="errorMessage" *ngIf="(addUserForm.controls['confirmpassword'].hasError('pattern') && f.submitted )" style="color:red">*{{ 'errorPasswordSize' | translate}}</p>
                        <p class="errorMessage" *ngIf="addUserForm.controls['confirmpassword'].errors?.MatchPassword" style="color: red; ">*{{'errorMatchPassword' | translate}}</p>
                        <label for="confirm password" class="sr-only">{{ 'confirmPassword' | translate}}</label>
                    </div>


                    <div class="btn-check-log form-group">
                        <button type="submit" class="btn btnlogin btn-block">
                        <span *ngIf="!isloader">{{ 'signUp' | translate}}</span>
                        <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                <div></div>
                                <div></div>
                        </div>
                        </button>
                    </div>

                    <div class="text-center form-group">
                       <p>
                          {{ 'privacyPolicyText' | translate}}
                       </p>
                    </div>

                    <div class="text-center form-group">
                       <p>
                            {{ 'alreadyAccountText' | translate}} 
                           <span>
                            <a href="#" class="txtred" data-dismiss="modal" data-toggle="modal" data-backdrop="static" data-target="#myModal">
                                    {{ 'signIn' | translate}}
                            </a>    
                           </span>
                       </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- delersignup -->