<section class="sectionWrap">
	<div class="container">
		<div class="innerboxWrap">
			<div class="row" *ngIf="Objectkeys(vehicle)?.length > 0">
				<div class="col-xl-8 col-lg-8">
					<div class="carouselbg col-12 mb-4">
						<div class="mb-md-2">
							<div class="">
								<p class="mb-0 mb-xl-2 cardetail">
									<span class="fontlato">{{ vehicle.yearfrom }}</span> {{ vehicle.make.name | translate}} {{ vehicle.model.name |
									translate}} {{ vehicle.trim.name}}
								</p>

								<p class="locationText">
									<span class="sprite location"></span>{{vehicle.city.name | translate}},{{vehicle.city.country.name | translate}}
								</p>
							</div>

							<span class="carprice fontlato">{{vehicle.price | currency:'USD':true:'2.2-4'}}</span>
						</div>

						<div class="mainCarousel">

							<ngx-slick-carousel dir="ltr" class="carousel" #slickModal1="slick-carousel" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
							 (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
								<div ngxSlickItem *ngFor="let slide of vehicle.vehicle_images; let i=index" class="slide">
									<img *ngIf="(vehicle.vehicle_images?.length > 0) && slide.type==0" src="{{ baseUrl }}{{ slide.name }}" alt="" width="100%"
									 data-target="#imgModal" (click)="slickModal2.slickGoTo(i)" data-toggle="modal">
									<iframe *ngIf="slide.type==1" [src]="slide.name | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
									 allowfullscreen></iframe>
								</div>
								<div ngxSlickItem *ngIf="vehicle.vehicle_images?.length == 0" class="slide">
									<img src="assets/images/nocarfound.png">
								</div>
							</ngx-slick-carousel>


						</div>

						<div class="ngxcarousel">
							<ngx-slick-carousel dir="ltr" class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
							 (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
								<div ngxSlickItem *ngFor="let slide of vehicle.vehicle_images; let i=index;" class="slide" [ngClass]="{'act-slide' : !(slickActive==i)}">
									<img *ngIf="slide.type==0" (click)="slickModal1.slickGoTo(i)" src="{{ baseUrl }}{{ slide.name }}" alt="" width="100%">
									<img *ngIf="slide.type==1" (click)="slickModal1.slickGoTo(i)" src="{{ baseUrl }}{{ slide.video_image }}" alt="" width="100%">
								</div>
							</ngx-slick-carousel>
						</div>
					</div>
					<!-- vehicle overview -->
					<div class="mb-4 VehicleOverview">
						<h4 class="heading">{{ 'vehicleOverview' | translate}}</h4>

						<ul class="list-inline">
							<li class="box" *ngIf="vehicle.condition_id==2">
								<div class="borderred">
									<span class="sprite usedcar"></span>
								</div>
								<div>
									<p class="Overview">{{ 'vehicleCondition' | translate }}</p>
									<p *ngIf="vehicle.condition_id==2" class="aboutCar">{{ 'Used' | translate}}</p>
								</div>
							</li>
							<li class="box" *ngIf="vehicle.condition_id==2">
								<div class="borderred">
									<span class="sprite miles"></span>
								</div>
								<div>
									<p class="Overview">{{ 'mileage' | translate }}</p>
									<p class="aboutCar"><span class="fontlato">{{ vehicle.kilometer}}</span> {{ vehicle.mileagetype | translate}}</p>
								</div>
							</li>
							<li class="box" *ngIf="vehicle.color.name">
								<div class="borderred">
									<span class="sprite carcolor"></span>
								</div>
								<div>
									<p class="Overview">{{ 'Color' | translate}}</p>
									<p class="aboutCar">{{ vehicle.color.name | translate}}</p>
								</div>
							</li>
							<li class="box">
								<div class="borderred">
									<span class="sprite seats"></span>
								</div>
								<div>
									<p class="Overview">{{ 'noOfSeats' | translate}}</p>
									<p class="aboutCar fontlato">{{ vehicle.seat_id }}</p>
								</div>
							</li>
							<li class="box" *ngIf="vehicle.model_door">
									<div class="borderred">
										<span class="sprite doors"></span>
									</div>
									<div>
										<p class="Overview">{{'Number Of Doors' | translate}}</p>
										<p class="aboutCar fontlato">{{ vehicle.model_door.name }}</p>
									</div>
							</li>
							<li class="box mbody" *ngIf="vehicle.model_body">
								<div class="borderred">
									<span class="sprite modelbody"></span>
								</div>
								<div>
									<p class="Overview">{{'modelBody' | translate}}</p>
									<p class="aboutCar">{{ vehicle.model_body.name }}</p>
								</div>
							</li>
							<li class="box" *ngIf="vehicle.model_engine_cc">
								<div class="borderred">
									<span class="sprite engsize"></span>
								</div>
								<div>
									<p class="Overview">{{'Engine Size' | translate}}</p>
									<p class="aboutCar fontlato">{{ vehicle.model_engine_cc.name }} CC</p>
								</div>
							</li>
							<li class="box" *ngIf="vehicle.model_engine_cylinder">
								<div class="borderred">
									<span class="sprite cylinders"></span>
								</div>
								<div>
									<p class="Overview">{{'Engine Cylinders' | translate}}</p>
									<p class="aboutCar fontlato">{{ vehicle.model_engine_cylinder.name }}</p>
								</div>
							</li>
							<li class="box" *ngIf="vehicle.model_engine_fuel">
								<div class="borderred">
									<span class="sprite fuel"></span>
								</div>
								<div>
									<p class="Overview">{{'Fuel Type' | translate}}</p>
									<p class="aboutCar">{{ vehicle.model_engine_fuel.name }}</p>
								</div>
							</li>
							<li class="box" *ngIf="vehicle.model_engine_power_p">
								<div class="borderred">
									<span class="sprite horsepower"></span>
								</div>
								<div>
									<p class="Overview">{{'horsepower' | translate}}</p>
									<p class="aboutCar fontlato">{{ vehicle.model_engine_power_p.name }} PS</p>
								</div>
							</li>
						</ul>
					</div>

					<!-- vehicle Interior -->
					<div *ngIf="vehicle.vehicle_interiors?.length > 0" class="mb-4 VehicleInterior">
						<h4 class="heading">{{ 'vehicleInterior' | translate }}</h4>
						<ul class="list-inline">
							<li *ngFor="let interior of vehicle.vehicle_interiors; let i=index;">{{ interior.name | translate}}</li>
						</ul>
					</div>
					<!--Vehicle description  -->

					<div *ngIf="vehicle.description" class="VehicleDescription mb-4">
						<h4 class="heading">{{ 'vehicleDescription' | translate}} </h4>
						<p>{{ vehicle.description | excerpt: 250 : isExcerpt }}</p>
						<button *ngIf="vehicle.description.length > 250" (click)="doExcerpt()" class="btn btn-block btn-link">{{ (isExcerpt)? 'readMore' : 'readLess' | translate}}</button>
					</div>
				</div>

				<div class="col-xl-4 col-lg-4">
					<div class="TestDrive">
						<div class="text-center">
							<button class="btn btndrive mb-3" data-target="#testdrive" data-toggle="modal" data-backdrop="static">{{ 'BookTestDrive' | translate}}</button>
						</div>
						<!-- in use -->
						<div class="msgDealer mb-3">

							<div class="">
								<div class="msgheader">
									{{ 'messageDealer' | translate}}
								</div>
								<form #f="ngForm" class="msgform" [formGroup]="msgform" (ngSubmit)="msgform.valid && msgformSubmit(msgform.value,f);" novalidate="false">
									<div class="form-group">
										<input type="text" class="form-control" autocomplete="off" placeholder="{{ 'name' | translate}}" [formControl]="msgform.controls['customer_name']">
										<label for="name" class="sr-only">{{ 'name' | translate}}</label>

										<p class="errorMessage" *ngIf=" (msgform.controls['customer_name'].hasError('required') && f.submitted )" style="color:red">*{{ 'name' | translate}} {{ 'errorCantEmpty' | translate}}</p>
									</div>

									<div class="form-group">
										<input type="text" class="form-control" autocomplete="off" placeholder="{{ 'email' | translate}}" [formControl]="msgform.controls['customer_email']">

										<label for="email" class="sr-only">{{ 'email' | translate}}</label>

										<p class="errorMessage" *ngIf=" (msgform.controls['customer_email'].hasError('required') && f.submitted )" style="color:red">*{{ 'errorEnterEmail' | translate}}</p>
										<p class="errorMessage" *ngIf=" (msgform.controls['customer_email'].hasError('pattern') && f.submitted)" style="color:red">*{{ 'errorInvalidEmail' | translate}}</p>
									</div>

									<div class="form-group">
										<input type="tel" class="form-control" autocomplete="off" placeholder="{{ 'phoneNumber' | translate}}" (keypress)="numOnly($event)"
										 [formControl]="msgform.controls['phone_number']" minlength="10" maxlength="10">

										<label for="Phone number" class="sr-only">{{ 'phoneNumber' | translate}}</label>

										<p class="errorMessage" *ngIf=" (msgform.controls['phone_number'].hasError('required') && f.submitted )" style="color:red">*{{ 'phoneNumber' | translate}} {{ 'errorCantEmpty' | translate}}</p>
									</div>

									<div class="form-group">
										<textarea class="form-control" [formControl]="msgform.controls['message']" rows="5" placeholder="{{ 'messages' | translate}}"></textarea>

										<p class="errorMessage" *ngIf=" (msgform.controls['message'].hasError('required') && f.submitted )" style="color:red">*{{ 'messages' | translate}} {{ 'errorCantEmpty' | translate}}</p>
									</div>

									<div class="form-group">
										<button type="submit" class="btndrive btn btn-block">
													<span *ngIf="!isloader">{{'send' | translate}}</span>
													<div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
															<div></div>
															<div></div>
													</div>
												</button>
									</div>

								</form>
							</div>
						</div>
						<!-- in use -->
						<div class="msgDealer dealerInfo">
							<div class="msgheader">
								{{ 'dealerInformation' | translate}}
							</div>

							<div class="p-3">
								<ul class="list-inline">
									<li *ngIf="vehicle.user.company_name" class="dealerwrap">
										<div class="spritergt">
											<span class="sprite compname"></span>
										</div>
										<div>
											<p class="Overview">{{'companyname' | translate}}</p>
											<p class="aboutCar">{{ vehicle.user.company_name }}</p>
										</div>
									</li>
									<li class="dealerwrap">
										<div class="spritergt">
											<span class="sprite owner"></span>
										</div>
										<div>
											<p class="Overview">{{ 'ownername' | translate}}</p>
											<p class="aboutCar">{{ vehicle.user.name }}</p>
										</div>
									</li>
									<li class="dealerwrap" *ngIf="vehicle.user.address">
										<div class="spritergt">
											<span class="sprite location"></span>
										</div>
										<div>
											<p class="Overview">{{ 'address' | translate }}</p>
											<p class="aboutCar"><span class="fontlato">{{ vehicle.user.address }}</span></p>
										</div>
									</li>
									<li class="dealerwrap">
										<div class="spritergt">
											<span class="sprite email"></span>
										</div>

										<div>
											<p class="Overview">{{'email' | translate}}</p>
											<p class="aboutCar">{{ vehicle.user.email }}</p>
										</div>
									</li>
									<li class="dealerwrap">
										<div class="spritergt">
											<span class="sprite Phone"></span>
										</div>
										<div>
											<p class="Overview">{{ 'phoneNumber' | translate}}</p>
											<p class="aboutCar"><span class="fontlato">{{ vehicle.user.phone }}</span></p>
										</div>
									</li>
								</ul>
								<div class="mapwrap" *ngIf="vehicle.user.address">
									<div class="map">
										<!-- <img src="./assets/images/map.png"> -->
										<div class="mapouter">
											<div class="gmap_canvas">
												<iframe width="100%" height="240px" id="gmap_canvas" [src]='mapsurl | safe' frameborder="0" scrolling="no" marginheight="0"
												 marginwidth="0"></iframe>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row" *ngIf="Objectkeys(vehicle)?.length == 0">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="no-result">
						<div id="mainC">
							<div class="message">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="error-template text-center">
												<h1>
													{{ 'oops' | translate}}!</h1>
												<div class="error-details">
													{{ 'The requested vehicle not found.' | translate}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="modal modalPos fade" id="imgModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<button type="button" class="close btncarousel" data-dismiss="modal">&times;</button>

				<div class="mainCarousel imgZoomcarousel">
					<ngx-slick-carousel dir="ltr" class="carousel" #slickModal2="slick-carousel" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
					 (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
						<div ngxSlickItem *ngFor="let slide of vehicle.vehicle_images" class="slide">
							<img *ngIf="slide.type==0" src="{{ baseUrl }}{{ slide.name }}" alt="" width="100%">
							<iframe *ngIf="slide.type==1" [src]="slide.name | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							 allowfullscreen></iframe>
						</div>
					</ngx-slick-carousel>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ************************************************************** -->
<!-- test drive booking -->
<app-testdrive-booking [vehicle]="vehicle"></app-testdrive-booking>
<!-- test drive booking -->