img{
	width: 100%;
}
.innerboxWrap{
	color: #4e5761;
	font-family: 'Raleway';
	width: 100%;
}


.overlay{
background-color:rgba(0,0,0,.8);
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
}

 .dflex{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.cardetail{
        color: #1f1f1f;
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 20px;
}
.carprice{
    font-family: 'Lato';color: #ff3b3d;font-weight:600;
}
.carouselbg{
	border: 1px solid #ececec;    
	background-color: #fff;    
	padding-top: 10px;
    padding-bottom: 10px;
}
.usedcar{
    background-position: -50px -78px;
    width: 21px;
    height: 17px;
}
.miles{
    background-position: -83px -81px;
    width: 23px;
    height: 12px;
}
.carcolor{
    background-position:-117px -79px;
    width: 20px;
    height: 16px;
}
.seats{
    background-position: -148px -77px;
    width: 14px;
    height: 17px;
}
.doors{
	background-position: -340px -136px;
	width: 28px;
	height: 17px;
}
.modelbody {
    background-position: -370px -134px;
    width: 29px;
    height: 17px;
}

.engsize {
    background-position: -407px -136px;
    width: 29px;
    height: 17px;
}

.cylinders {
    background-position: -436px -136px;
    width: 29px;
    height: 17px;
}

.fuel {
    background-position: -463px -136px;
    width: 25px;
    height: 17px;
}

.horsepower {
    background-position: -489px -136px;
    width: 25px;
    height: 17px;
}

.borderred{
	 border: 1px solid #ff3b3d;
    border-radius: 50%;
    padding: 5px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    margin-right: 10px;
}

.mbody .borderred{
	width: 38px;
}

li.box{
	display: inline-flex;
    align-items: center;
    width: 24%;
}
li.box p{
	margin-bottom: 0;
}
.Overview{
	font-family: 'Raleway';
	text-transform: capitalize;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 0;
	text-align: left;
}
.aboutCar{
	font-family: 'Raleway';
    text-transform: capitalize;
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 600;
	margin-bottom: 0;
	text-align: left;
}
h4.heading{
	color: #1f1f1f;
	text-transform: capitalize;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 600;
}
.VehicleInterior ul li{
	font-size: 14px;
	text-transform: capitalize;
}
.VehicleDescription p{
	font-size: 14px;
}
.location {
	background-position: -86px -138px;
	width: 14px;
	height: 20px;
	    margin-right: 4px;
}
.locationText{
	color: #1f1f1f;
	    display: flex;
    font-size: 14px;
    align-items: baseline;
    margin-bottom: 0;
}
.msgDealer{
	background-color: #fff;
    border: 1px solid #e8e8e8;
}

.TestDrive .msgDealer.dealerInfo{
	border: 1px solid #e8e8e8;margin-bottom: 12px;
}

.btndrive{
	background-color: #ff3b3d;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 14px;
	border-radius: 20px;
	width: 80%;
	margin: 0 auto;
}
.msgheader , .headershow{
	background-color: #515151;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	padding: 5px;
}

.d-hide .msgheader{
	background-color:#ff3b3d;
}

textarea.form-control {
    resize: none;
    overflow-x: hidden;
}

.msgform{
	width: 85%;
	margin: 0 auto;
	padding: 12px 0;
}

input , textarea{
    font-size:14px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
	font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 14px;
}
textarea::placeholder {
  color:#4e5761;  
}
.compname {
	background-position: -23px -139px;
	width: 22px;
	height: 19px;
}
.owner {
	background-position: -55px -139px;
	width: 19px;
	height: 19px;
}
li.dealerwrap {
	display: flex;
	width: 100%;
	align-items: flex-start;
	margin-bottom: 8px;
}
.email {
	background-position:-113px -141px;
	width: 23px;
	height: 15px;
}
.Phone{
	background-position: -151px -140px;
	width: 16px;
	height: 16px;
}
.direction {
	background-position:-176px -137px;
	width: 23px;
	height: 23px;
	margin-right: 6px;
}
.spritergt{
	margin-right: 10px;
}
/* .mapwrap {
    border: 1px solid #ebebeb;
}
.mapwrap .map{
	border-bottom: 1px solid #ebebeb;
} */

.mapwrap .maptxtwrap{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
	padding: 8px 0;
}
/* .d-hide{
	display: none;
} */

/*.d-hide .msgform{
width: 100%;
}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
    .innerboxWrap{
        width: 100%;
    }
    li.box{
	width: 48%;
	margin-bottom: 10px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
	/* .d-show{
		display: none;
	}
	.d-hide{
		display: block; 
		border: 1px solid #e8e8e8;
	} */

	/* .TestDrive .msgDealer{
		border: none;
	} */
	
	li.dealerwrap{
		display: inline-flex;
		width: 48%;
	}
	.d-hide .msgform {
	padding: 12px 0 0 0;
	}


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
	.dealerwrap p{
		text-align: left;
	}
   .VehicleDescription p{
   	text-align: left;
   }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    li.dealerwrap{
    	width: 100%;
    }
}


/*modal*/
#testdrive .mheader{
	background-color: #ff3b3d;
	color: #fff;
	    padding: 12px;
}
#testdrive .mheader p{
	    text-align: center;
    margin-bottom: 0;
    font-size: 18px;
}
#testdrive p{
	margin-bottom: 0;
}
#testdrive p.bookingmsg{
	font-size: 16px;
	font-weight: 500;
}
#testdrive p.bookingdate{
	font-size: 14px;
}
#testdrive ul{
	list-style: none;
}
#testdrive ul li {
    color: #686e76;
    border-bottom: 1px solid #ececeb;
  padding: 6px 8px;
  display: flex;
  align-items: baseline;
}
#testdrive ul li:last-child {
border-bottom: none;
}
#testdrive .modal-body{
	padding: 0;
}
/*.bookinglist {
    padding: 0 10px 0px 30px;
}*/
#testdrive .modal-body ul li::before {
	content: "";
	background-color: #474948;
	font-weight: bold;
	display: inline-block;
	width: 6px;
	height: 6px;
	/*margin-right: 10px;*/
	border-radius: 50%;
	padding: 4px;
}
#testdrive .modal-dialog{
max-width: 500px;
}
#testdrive form.msgform{width:80%;margin: 0 auto;}
#testdrive .modal-content{
	overflow: hidden;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
    .innerboxWrap{
        width: 100%;
    }
    li.box{
	width: 48%;
	margin-bottom: 10px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
	.d-show{
		display: none;
	}
	.d-hide{
		display: block;
	}
	
	li.dealerwrap{
		display: inline-flex;
		width: 48%;
	}
	.dInfo {
    padding: 16px 0;
}
#testdrive .modal-dialog{
	max-width: 600px;
	}

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
   .VehicleDescription p , .dealerwrap p , .carouselbg p{
   	text-align: left;
   }
	#testdrive .modal-dialog{
	max-width: 500px;
	}
	#testdrive p.bookingmsg{
	font-size: 14px;
	}
	#testdrive p.bookingdate{
	font-size: 12px;
	}
	#testdrive p{
		text-align: left;
	}
	.bookinglist {
    min-height: 200px;
    max-height: 350px;
    overflow-y: auto;}
    
    #testdrive .mheader{
    	padding: 4px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    li.dealerwrap{
    	width: 100%;
    }
    
    .dflex{
    	flex-direction: column;
    }
}

.mapouter {
	height: 250px;
	width: 100%;
}

.gmap_canvas {
	overflow: hidden;
	background: none!important;
	height: 100%;
	width: 100%;
}