<!-- forgot Modal -->
<div class="modal modalPos fade" id="forgotModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <div class="mb-4">
                    <button #closeForgot type="button" class="close closebtn" data-dismiss="modal" (click)="closeForm(f);">
                    <span class="sprite cross"></span>
                </button>
                </div>
                <h2 class="title text-center text-uppercase">{{ 'ForgotPassword' | translate }}</h2>

                <p class="text-center subtxt">
                        {{ 'ForgotPasswordText' | translate}}
                </p>

                <div class="formwrap">

                    <form class="seminor-login-form" #f="ngForm" [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid && forgot(forgotForm.value,f);">

                        <div class="mr-btm">
                            <input type="email" class="form-control" [formControl]="forgotForm.controls['email']"  required autocomplete="off" placeholder="{{ 'email' | translate}}">
                            <label for="email" class="sr-only">{{ 'email' | translate}}</label>
                            <p class="errorMessage" *ngIf="(forgotForm.controls['email'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterEmail' | translate}}</p>
                            <p class="errorMessage" style="color:red" *ngIf="(forgotForm.controls['email'].hasError('pattern') && f.submitted)">*{{ 'errorInValidEmail' | translate}}</p>
                        </div>

                        <div class="btn-check-log form-group">
                            <button type="submit" class="btn btnlogin btn-block">
                                <span *ngIf="!isloader">{{ 'send' | translate}}</span>
                                <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                        <div></div>
                                        <div></div>
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forgot Modal -->
<a class="btn btnsign nav-link" style="display: none;" #otpModal data-backdrop="static" data-target="#otpModel" data-toggle="modal">