body {
    font-family: 'RalewayMedium', sans-serif;
    font-size: 16px;
    background-color:#f5f6f8;
    color: #6f767d;
}

a {
    outline: none;
}

*{
    margin: 0;
    padding: 0;
}
button:focus{outline: none;}
.fontlato{
    font-family: 'Lato'!important;
}

.btn.focus, .btn:focus , .form-control{
    box-shadow: none;
}

.sectionWrap {
    border-top: 5px solid #ff3b3d;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
.form-control{
    border: 1px solid #4e5761;color: #4e5761;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #4e5761;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(242, 240, 240, 0);
    box-shadow: 0 0 0 0.2rem rgba(242, 240, 240, 0);
}

img{
    max-width: 100%;
}

.txt24{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Raleway';
    color: #3e4953;
}
.txt30{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Raleway';
    color: #3e4953;
}
.txt20{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Raleway';
    color: #3e4953;
}
.txt14{
    font-size: 14px;
    font-weight: 500;
}

.txtred{
    color: #ff3b3d;
}
.darkgrey{
    color: #3e4953;
}

.txtgrey{
    color: #70777e;
    font-family: 'Raleway';
    font-weight: 600;;
}
.txtred{
    color: #ff3b3d;
}
li.listinline .dropdown-item.active, li.listinline .dropdown-item:active ,
li.listinline .dropdown-item:hover , li.listinline .dropdown-item:focus{
    color: #fff;
    text-decoration: none;
    background-color: #ff3b3d;
    border-radius: 0px;
}

.dropdown-menu > a:hover,
.dropdown-menu > a:focus,
.dropdown-menu > a:active,
.dropdown-item:focus, 
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-menu .dropdown-item .dropdown-item:hover,
.dropdown-menu .dropdown-item .dropdown-item:focus,
.dropdown-menu .dropdown-item .dropdown-item:active{
    text-decoration: none;
    color: #ffffff;
    background-color: #ff3b3d;
    border-radius: 0;
}
textarea{resize: none;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

select option[selected] , select option:hover , select option:focus{
    background-color: #ff3b3d;
    color: #fff;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Bold.eot');
    src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/lato/Lato-Bold.woff') format('woff'),
        url('../fonts/lato/Lato-Bold.ttf') format('truetype'),
        url('../fonts/lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Light.eot');
    src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Light.woff2') format('woff2'),
        url('../fonts/lato/Lato-Light.woff') format('woff'),
        url('../fonts/lato/Lato-Light.ttf') format('truetype'),
        url('../fonts/lato/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/lato/Lato-Regular.woff') format('woff'),
        url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
        url('../fonts/lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Black.eot');
    src: url('../fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Black.woff2') format('woff2'),
        url('../fonts/lato/Lato-Black.woff') format('woff'),
        url('../fonts/lato/Lato-Black.ttf') format('truetype'),
        url('../fonts/lato/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBoldItalic.eot');
    src: url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ThinItalic.eot');
    src: url('../fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ThinItalic.woff') format('woff'),
        url('../fonts/Raleway-ThinItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBoldItalic.eot');
    src: url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}
*/

/**/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLightItalic.eot');
    src: url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}*/

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.eot');
    src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Black.woff2') format('woff2'),
        url('../fonts/Raleway-Black.woff') format('woff'),
        url('../fonts/Raleway-Black.ttf') format('truetype'),
        url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.eot');
    src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff'),
        url('../fonts/Raleway-Thin.ttf') format('truetype'),
        url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff'),
        url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.eot');
    src: url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLight.woff') format('woff'),
        url('../fonts/Raleway-ExtraLight.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}*/

/*@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BlackItalic.eot');
    src: url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/Raleway-BlackItalic.woff') format('woff'),
        url('../fonts/Raleway-BlackItalic.ttf') format('truetype'),
        url('../fonts/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Italic.woff2') format('woff2'),
        url('../fonts/Raleway-Italic.woff') format('woff'),
        url('../fonts/Raleway-Italic.ttf') format('truetype'),
        url('../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BoldItalic.eot');
    src: url('../fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-BoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-BoldItalic.woff') format('woff'),
        url('../fonts/Raleway-BoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}*/




select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;    
}

.sprite {
    background: url('../images/Spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
}


/*******************modal**********************/
.modalPos .modal-content{
    border-radius: 0;
}
.modalPos .modal-content .txtgrey{
    color: #3a4550;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
}

.modalPos .modal-dialog{
    max-width: 655px;
}

.modalPos .formwrap{
    width: 100%;
    margin: 0 auto;
    max-width: 370px;padding-bottom: 22px;
}


.seminor-login-form .btn-check-log {
    margin: 18px 0 10px 0;
}

.modalPos .txt16{
    font-size: 16px;  
    color: #3a4550;
    font-family: 'Raleway';
    font-weight: 500;
    margin-bottom: 0;
}

.modal-dialog{
    margin-top: 6%;
}
.cross {
    background-position:  -614px -24px;
    width: 19px;
    height: 19px;
}

.close.closebtn{
    opacity: 1;
}

h2.title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 30px;
    color: #3e4953;
    margin-bottom: 25px;
}

#forgotModel h2.title{
font-size: 30px;margin-bottom: 0px;
}

#forgotModel .subtxt{
    color: #3a4550;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    margin: 18px 0  28px 0;
}

.mr-btm{
    margin-bottom: 30px;
}
/*.formwrap{
    width: 70%;
    margin: 0 auto;
}*/
.formwrap input{
    color: #4e5761;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 500;
}
 .formwrap::-webkit-input-placeholder , .form-control::-webkit-input-placeholder , textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #4e5761;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 500;
}
.formwrap::-moz-placeholder , .form-control::-moz-placeholder , textarea:-moz-placeholder{ /* Firefox 19+ */
  color: #4e5761;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 500;
}
.formwrap:-ms-input-placeholder ,  .form-control:-ms-input-placeholder , textarea:-ms-input-placeholder{ /* IE 10+ */
  color: #4e5761;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 500;
}
.formwrap:-moz-placeholder , .form-control:-moz-placeholder{ /* Firefox 18- */
  color: #4e5761;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 500;
}
textarea::placeholder{
    color: #4e5761;
}
/* textarea::-webkit-input-placeholder {
    color: #4e5761;
  }
  
  textarea:-moz-placeholder { 
    color: #4e5761;  
  }
  
  textarea::-moz-placeholder { 
    color: #4e5761;  
  }
  
  textarea:-ms-input-placeholder {
    color:#4e5761;  
  }
  
  textarea::placeholder {
    color: #4e5761;  
  } */

.remberwrap{
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 500;
}

.formwrap .btnlogin{
    background-color: #ff3b3d;
    color: #fff;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.formwrap a:hover{
    color: #ff3b3d !important;
    text-decoration: none;

}
.formwrap .form-control{
    border:1px solid #868d93;
    font-size: 16px;
    font-weight: 500;
}

.formwrap input[type="checkbox"] {
    height: 18px;
    width: 18px;
    background-color: #fff;
    margin-top: 1px;
}

.formwrap input[type="radio"]{
    height: 18px;
    width: 18px;
    margin-right: 6px;
}
/********************/
/*sellcar page*/
.sectionWrap{
    border-top: 5px solid #ff3b3d;
}

.innerboxWrap {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.btnsubmit{
    background-color: #ff3b3d;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 4px 14px;
    font-family: 'Raleway';
    font-weight: 500;
    width: 15%;
    margin: 0 auto;
}
.btnsubmit:hover , .btnsubmit:focus{
    color: #fff !important;
text-decoration: none;
}

.Page {
    min-height: 100vh;
    display: -webkit-box;   
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;     
    display: flex;    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.Page-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.Pagewrapper{
    display: -webkit-box;   
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;     
    display: flex;    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.priceslider .ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 14px;
    height: 15px;
    top: -6px;
    background-color: #fff;
    z-index: 3;
    border: 1px solid #ff3b3d;
}
.priceslider .ng5-slider .ng5-slider-selection{
    background-color: #ff3b3d;
}
.priceslider .ng5-slider .ng5-slider-pointer:after{
    display: none;
}
.priceslider .ng5-slider .ng5-slider-bubble.ng5-slider-limit{
    visibility: hidden !important;
}

/**************pagination*********************/
.PaginationWrap {
    text-align: center;
} 

 .ngx-pagination .current {
    padding: 0.1875rem 0.625rem !important;
    color: #ff3b3d !important;
    border-radius: 50%;
    border: 1px solid #ff3b3d;
    background-color: #fff !important;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 14px;
}
.ngx-pagination a:hover, 
.ngx-pagination button:hover{
    background-color: #fff !important;
    border-radius: 50%;
    border: 1px solid #ff3b3d;
    color: #ff3b3d !important;
}
 .ngx-pagination a, .ngx-pagination button {
    color: #454545;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
    font-family: 'Lato';
    font-weight: 600;
    text-decoration: none;
}
 .ngx-pagination li {
    margin: 0 6px;font-size: 14px;
}

  li.pagination-previous.disabled , 
li.pagination-next , 
 li.pagination-previous{
    visibility: hidden;    display: none;
}


.slick-prev:before , .slick-next:before{
    /*background-color: red;*/
}

.ngxcarousel .slick-next , .ngxcarousel .slick-prev{
    height: 100%;
}

.mainCarousel .slick-prev:before{
    background: url('../images/Spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -675px -87px;
    width: 10px;
    height: 18px;
    content: "";
}

.mainCarousel .slick-next:before{
    background: url('../images/Spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -696px -87px;
    width: 10px;
    height: 18px;
    content: "";
}
.mainCarousel{
 margin-bottom: 10px;
}
.mainCarousel .slick-track{
    overflow: hidden;
}

.mainCarousel .slick-next , .mainCarousel .slick-prev{
    opacity: .7;

    height: 30px;
}

.mainCarousel  .slick-prev , .ngxcarousel .slick-prev{
    left: 0px;
    z-index: 1;
    background-color: #1f1b1f;
    opacity: .8;
}

.mainCarousel .slick-next ,  .ngxcarousel .slick-next{
    right: 0px;
    z-index: 1;
    background-color: #1f1b1f;
    opacity: .8;
}

 .ngxcarousel .slick-prev:before{
     background: url('../images/Spritesheet.png');
     background-repeat: no-repeat;
     display: inline-block;
    background-position: -611px -82px;
    width: 15px;
    height: 26px;
    content: "";
}
.ngxcarousel .slick-next:before{
     background: url('../images/Spritesheet.png');
     background-repeat: no-repeat;
     display: inline-block;
         background-position: -639px -82px;
        width: 15px;
    height: 26px;
    content: "";
}
.ngxcarousel .slick-prev:hover, .ngxcarousel .slick-prev:focus, .ngxcarousel .slick-next:hover, .ngxcarousel .slick-next:focus,
.mainCarousel .slick-prev:hover, .mainCarousel .slick-prev:focus, .mainCarousel .slick-next:hover, .mainCarousel .slick-next:focus{
    background-color: #1f1b1f;
}

.ngxcarousel .slick-slide{
    margin: 0 2px;
}
/*.ngxcarousel .slick-slide{
    opacity: .4;
}*/


#bigModal .mainCarousel{
    margin-bottom: 0px;
}

#bigModal .modal-body{
  padding: 10px;  
}

.ngxcarousel .act-slide{
    opacity: .7;
}
.ngxcarousel .slick-slide img {
   width: 170px;
    height: 110px;
    max-width: 100%;
     max-height: 100%;
}

.mainCarousel .slick-slide img,
.mainCarousel .slick-slide iframe{
    max-width: 100%;
    height: 428px;
    width: 1000px;
    max-height: 100%;
}

/**/
.overlaydiv{
    opacity: .5; 

}

.imgwrap{
    position: relative;
}

.imgwrap.overlaydiv:after{
    content: "";
     background-image: url('../images/sold.png');
    position: absolute;
    z-index: 6;
    max-width: 66px;
    height: 27px;
    width: 100%;
    max-height: 100%;
    top: 8%;
    left: 0;
    background-repeat: no-repeat; 
}

.imgwrap.overlayfeatured:after{
    content: "";
    background-image: url('../images/Featured.png');
    position: absolute;
    z-index: 6;
    max-width: 100px;
    height: 27px;
    width: 100%;
    max-height: 100%;
    top: 8%;
    left: 0;
    background-repeat: no-repeat;
}


.btncarousel{
   position: absolute;
    top: -20px;
    right: -16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3a4550 !important;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    z-index: 12;
    opacity: 1;
}
#imgModal .modal-body{padding: 10px;}
#imgModal .mainCarousel{margin-bottom: 0;}

/********************/

/* Ayush css below */

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .la-ball-clip-rotate-multiple,
 .la-ball-clip-rotate-multiple > div {
     position: relative;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }
 .la-ball-clip-rotate-multiple {
     display: block;
     font-size: 0;
     color: #fff;
 }
 .la-ball-clip-rotate-multiple.la-dark {
     color: #333;
 }
 .la-ball-clip-rotate-multiple > div {
     display: inline-block;
     float: none;
     background-color: currentColor;
     border: 0 solid currentColor;
 }
 .la-ball-clip-rotate-multiple {
     width: 32px;
     height: 32px;
 }
 .la-ball-clip-rotate-multiple > div {
     position: absolute;
     top: 50%;
     left: 50%;
     background: transparent;
     border-style: solid;
     border-width: 2px;
     border-radius: 100%;
     -webkit-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
        -moz-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
          -o-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
             animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
 }
 .la-ball-clip-rotate-multiple > div:first-child {
     position: absolute;
     width: 32px;
     height: 32px;
     border-right-color: transparent;
     border-left-color: transparent;
 }
 .la-ball-clip-rotate-multiple > div:last-child {
     width: 16px;
     height: 16px;
     border-top-color: transparent;
     border-bottom-color: transparent;
     -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
          -o-animation-duration: .5s;
             animation-duration: .5s;
     -webkit-animation-direction: reverse;
        -moz-animation-direction: reverse;
          -o-animation-direction: reverse;
             animation-direction: reverse;
 }
 .la-ball-clip-rotate-multiple.la-sm {
     width: 16px;
     height: 16px;
 }
 .la-ball-clip-rotate-multiple.la-sm > div {
     border-width: 1px;
 }
 .la-ball-clip-rotate-multiple.la-sm > div:first-child {
     width: 16px;
     height: 16px;
 }
 .la-ball-clip-rotate-multiple.la-sm > div:last-child {
     width: 8px;
     height: 8px;
 }
 .la-ball-clip-rotate-multiple.la-2x {
     width: 64px;
     height: 64px;
 }
 .la-ball-clip-rotate-multiple.la-2x > div {
     border-width: 4px;
 }
 .la-ball-clip-rotate-multiple.la-2x > div:first-child {
     width: 64px;
     height: 64px;
 }
 .la-ball-clip-rotate-multiple.la-2x > div:last-child {
     width: 32px;
     height: 32px;
 }
 .la-ball-clip-rotate-multiple.la-3x {
     width: 96px;
     height: 96px;
 }
 .la-ball-clip-rotate-multiple.la-3x > div {
     border-width: 6px;
 }
 .la-ball-clip-rotate-multiple.la-3x > div:first-child {
     width: 96px;
     height: 96px;
 }
 .la-ball-clip-rotate-multiple.la-3x > div:last-child {
     width: 48px;
     height: 48px;
 }
 /*
  * Animation
  */
 @-webkit-keyframes ball-clip-rotate-multiple-rotate {
     0% {
         -webkit-transform: translate(-50%, -50%) rotate(0deg);
                 transform: translate(-50%, -50%) rotate(0deg);
     }
     50% {
         -webkit-transform: translate(-50%, -50%) rotate(180deg);
                 transform: translate(-50%, -50%) rotate(180deg);
     }
     100% {
         -webkit-transform: translate(-50%, -50%) rotate(360deg);
                 transform: translate(-50%, -50%) rotate(360deg);
     }
 }
 @-moz-keyframes ball-clip-rotate-multiple-rotate {
     0% {
         -moz-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
     }
     50% {
         -moz-transform: translate(-50%, -50%) rotate(180deg);
              transform: translate(-50%, -50%) rotate(180deg);
     }
     100% {
         -moz-transform: translate(-50%, -50%) rotate(360deg);
              transform: translate(-50%, -50%) rotate(360deg);
     }
 }
 @-o-keyframes ball-clip-rotate-multiple-rotate {
     0% {
         -o-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
     }
     50% {
         -o-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
     }
     100% {
         -o-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
     }
 }
 @keyframes ball-clip-rotate-multiple-rotate {
     0% {
         -webkit-transform: translate(-50%, -50%) rotate(0deg);
            -moz-transform: translate(-50%, -50%) rotate(0deg);
              -o-transform: translate(-50%, -50%) rotate(0deg);
                 transform: translate(-50%, -50%) rotate(0deg);
     }
     50% {
         -webkit-transform: translate(-50%, -50%) rotate(180deg);
            -moz-transform: translate(-50%, -50%) rotate(180deg);
              -o-transform: translate(-50%, -50%) rotate(180deg);
                 transform: translate(-50%, -50%) rotate(180deg);
     }
     100% {
         -webkit-transform: translate(-50%, -50%) rotate(360deg);
            -moz-transform: translate(-50%, -50%) rotate(360deg);
              -o-transform: translate(-50%, -50%) rotate(360deg);
                 transform: translate(-50%, -50%) rotate(360deg);
     }
 }

.la-ball-clip-rotate-multiple{
    margin: 0 auto !important;
}
.la-ball-clip-rotate-multiple>div:last-child {
    width: 15px !important;
    height: 15px !important;
}
.errorMessage{
    text-align: center;
    padding-top: 3px;
    font-size: 13px;
    margin-bottom: -1rem;
}
.msgflash{
    top:10px;
}
.msgflash .flash-message
{
    z-index: 15000;
    position: sticky;
}

.msgflash .flash-messages .alert {
    padding: 1px;
    top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 51px;
    text-align: center;
    width: 57%;
    margin: 0px auto;
    white-space: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 26px;
}

#flashMessages .flash-message{display:none;}
#flashMessages .flash-message:last-child{display:block;}

.disabled {
    pointer-events: none;
    cursor: default;
 }

.redblock tag.ng-tns-c5-0.ng-trigger.ng-trigger-animation.ng-star-inserted{
    background-color: #ff3c3d!important;
    padding: 0px 10px!important;
    color: #fff!important; 
}
.redblock tag:not(:focus):not(.tag--editing):not(:active):not(.readonly):hover{
background-color: #ff3c3d!important;box-shadow: 0 2px 3px 1px #ff3c3d!important;color: #fff!important;
}
.redblock delete-icon path {
    fill: #fff!important;
}

.redblock .ng2-tag-input.ng2-tag-input--focused {
    border-bottom: none; 
    border: 1px solid #4e5761;
    border-radius: .25rem;
}
.redblock tag:not(.readonly):not(.tag--editing):focus , 
.redblock tag:not(.readonly):not(.tag--editing):active{
    background: #ff3b3d;
    color: #fff;
    -webkit-box-shadow: 0 2px 3px 1px #d4d1d1;
    box-shadow: 0 2px 3px 1px #ff3b3d;
}
.redblock tag-input .ng2-tag-input{
       border: 1px solid #4e5761;
    border-radius: .25rem;
}
.redblock tag-input .ng2-tags-container tag {
    background-color: red;
    color: #fff;
    line-height: 28px;
}
.redblock tag-input .ng2-tag-input.ng2-tag-input--focused {
    border-bottom: 2px solid #ff0006;
}

.redblock tag-input  .ng2-tag-input .ng2-tags-container{padding:0 5px;}

.redblock tag-input .ng2-tag-input.ng2-tag-input--focused{border-bottom: 1px solid #4e5761;}


.redblock tag.ng-tns-c6-0.ng-trigger.ng-trigger-animation.ng-star-inserted{background: #ff3b3d;color: #fff;
    line-height: 30px;}



.multipleImageWrap img.remove_pict {
    top: 0;
    right: 0!important;
}

.multipleImageWrap .divImagesWrap{
    width: 90px;
    height: 90px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.multipleImageWrap .divImagesWrap img.thumbnail {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
.overlaydiv{
    opacity: .4;
}

.thumnailwrap .overlaydiv.childbox, .thumnailwrap .overlayfeatured.childbox{position: relative;}

.thumnailwrap .overlaydiv.childbox:after {
    content: "";
    background-image: url('../images/sold.png');
    position: absolute;
    z-index: 6;
    max-width: 66px;
    height: 27px;
    width: 100%;
    max-height: 100%;
    top: 8%;
    left: 0;
    background-repeat: no-repeat;
}
.thumnailwrap .overlayfeatured.childbox:after {
    content: "";
    background-image: url('../images/Featured.png');
    position: absolute;
    z-index: 6;
    max-width: 100px;
    height: 27px;
    width: 100%;
    max-height: 100%;
    top: 8%;
    left: 0;
    background-repeat: no-repeat;
}
/*Range slider*/

.ng5-slider .ng5-slider-bubble{
    color: #1f1f1f!important;
    font-family: 'lato';
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .la-ball-grid-pulse,
 .la-ball-grid-pulse > div {
     position: relative;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }
 .la-ball-grid-pulse {
     display: block;
     font-size: 0;
     color: #fff;
 }
 .la-ball-grid-pulse.la-dark {
     color: #333;
 }
 .la-ball-grid-pulse > div {
     display: inline-block;
     float: none;
     background-color: currentColor;
     border: 0 solid currentColor;
 }
 .la-ball-grid-pulse {
     width: 36px;
     height: 36px;
 }
 .la-ball-grid-pulse > div {
     width: 8px;
     height: 8px;
     margin: 2px;
     border-radius: 100%;
     -webkit-animation-name: ball-grid-pulse;
        -moz-animation-name: ball-grid-pulse;
          -o-animation-name: ball-grid-pulse;
             animation-name: ball-grid-pulse;
     -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
          -o-animation-iteration-count: infinite;
             animation-iteration-count: infinite;
 }
 .la-ball-grid-pulse > div:nth-child(1) {
     -webkit-animation-duration: .65s;
        -moz-animation-duration: .65s;
          -o-animation-duration: .65s;
             animation-duration: .65s;
     -webkit-animation-delay: .03s;
        -moz-animation-delay: .03s;
          -o-animation-delay: .03s;
             animation-delay: .03s;
 }
 .la-ball-grid-pulse > div:nth-child(2) {
     -webkit-animation-duration: 1.02s;
        -moz-animation-duration: 1.02s;
          -o-animation-duration: 1.02s;
             animation-duration: 1.02s;
     -webkit-animation-delay: .09s;
        -moz-animation-delay: .09s;
          -o-animation-delay: .09s;
             animation-delay: .09s;
 }
 .la-ball-grid-pulse > div:nth-child(3) {
     -webkit-animation-duration: 1.06s;
        -moz-animation-duration: 1.06s;
          -o-animation-duration: 1.06s;
             animation-duration: 1.06s;
     -webkit-animation-delay: -.69s;
        -moz-animation-delay: -.69s;
          -o-animation-delay: -.69s;
             animation-delay: -.69s;
 }
 .la-ball-grid-pulse > div:nth-child(4) {
     -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
          -o-animation-duration: 1.5s;
             animation-duration: 1.5s;
     -webkit-animation-delay: -.41s;
        -moz-animation-delay: -.41s;
          -o-animation-delay: -.41s;
             animation-delay: -.41s;
 }
 .la-ball-grid-pulse > div:nth-child(5) {
     -webkit-animation-duration: 1.6s;
        -moz-animation-duration: 1.6s;
          -o-animation-duration: 1.6s;
             animation-duration: 1.6s;
     -webkit-animation-delay: .04s;
        -moz-animation-delay: .04s;
          -o-animation-delay: .04s;
             animation-delay: .04s;
 }
 .la-ball-grid-pulse > div:nth-child(6) {
     -webkit-animation-duration: .84s;
        -moz-animation-duration: .84s;
          -o-animation-duration: .84s;
             animation-duration: .84s;
     -webkit-animation-delay: .07s;
        -moz-animation-delay: .07s;
          -o-animation-delay: .07s;
             animation-delay: .07s;
 }
 .la-ball-grid-pulse > div:nth-child(7) {
     -webkit-animation-duration: .68s;
        -moz-animation-duration: .68s;
          -o-animation-duration: .68s;
             animation-duration: .68s;
     -webkit-animation-delay: -.66s;
        -moz-animation-delay: -.66s;
          -o-animation-delay: -.66s;
             animation-delay: -.66s;
 }
 .la-ball-grid-pulse > div:nth-child(8) {
     -webkit-animation-duration: .93s;
        -moz-animation-duration: .93s;
          -o-animation-duration: .93s;
             animation-duration: .93s;
     -webkit-animation-delay: -.76s;
        -moz-animation-delay: -.76s;
          -o-animation-delay: -.76s;
             animation-delay: -.76s;
 }
 .la-ball-grid-pulse > div:nth-child(9) {
     -webkit-animation-duration: 1.24s;
        -moz-animation-duration: 1.24s;
          -o-animation-duration: 1.24s;
             animation-duration: 1.24s;
     -webkit-animation-delay: -.76s;
        -moz-animation-delay: -.76s;
          -o-animation-delay: -.76s;
             animation-delay: -.76s;
 }
 .la-ball-grid-pulse.la-sm {
     width: 18px;
     height: 18px;
 }
 .la-ball-grid-pulse.la-sm > div {
     width: 4px;
     height: 4px;
     margin: 1px;
 }
 .la-ball-grid-pulse.la-2x {
     width: 72px;
     height: 72px;
 }
 .la-ball-grid-pulse.la-2x > div {
     width: 16px;
     height: 16px;
     margin: 4px;
 }
 .la-ball-grid-pulse.la-3x {
     width: 108px;
     height: 108px;
 }
 .la-ball-grid-pulse.la-3x > div {
     width: 24px;
     height: 24px;
     margin: 6px;
 }
 /*
  * Animation
  */
 @-webkit-keyframes ball-grid-pulse {
     0% {
         opacity: 1;
         -webkit-transform: scale(1);
                 transform: scale(1);
     }
     50% {
         opacity: .35;
         -webkit-transform: scale(.45);
                 transform: scale(.45);
     }
     100% {
         opacity: 1;
         -webkit-transform: scale(1);
                 transform: scale(1);
     }
 }
 @-moz-keyframes ball-grid-pulse {
     0% {
         opacity: 1;
         -moz-transform: scale(1);
              transform: scale(1);
     }
     50% {
         opacity: .35;
         -moz-transform: scale(.45);
              transform: scale(.45);
     }
     100% {
         opacity: 1;
         -moz-transform: scale(1);
              transform: scale(1);
     }
 }
 @-o-keyframes ball-grid-pulse {
     0% {
         opacity: 1;
         -o-transform: scale(1);
            transform: scale(1);
     }
     50% {
         opacity: .35;
         -o-transform: scale(.45);
            transform: scale(.45);
     }
     100% {
         opacity: 1;
         -o-transform: scale(1);
            transform: scale(1);
     }
 }
 @keyframes ball-grid-pulse {
     0% {
         opacity: 1;
         -webkit-transform: scale(1);
            -moz-transform: scale(1);
              -o-transform: scale(1);
                 transform: scale(1);
     }
     50% {
         opacity: .35;
         -webkit-transform: scale(.45);
            -moz-transform: scale(.45);
              -o-transform: scale(.45);
                 transform: scale(.45);
     }
     100% {
         opacity: 1;
         -webkit-transform: scale(1);
            -moz-transform: scale(1);
              -o-transform: scale(1);
                 transform: scale(1);
     }
 }
.otpPara1{
    text-align: center;
}
/*********************19 march********************************/
/*.mainCarousel .slick-initialized .slick-slide {
    display: inline-block !important;
}*/
#testDerivelist .modal-body ul li::before{margin-right: 10px;}
/*#testdrive .modal-body ul li::before{margin-right: 10px;}*/
.sign , .signup{margin-right: 8px;}

.slctbox{position: relative;}
.slctbox:after {
    background: url('../images/Spritesheet.png');
    background-position:-40px -24px;
    width: 12px;
    height: 6px;
    content: '';
    right: 11px;
    top: 18px;
    position: absolute;
    pointer-events: none;
}

.main-section li.active.right {border-radius: 0px 20px 20px 0px;}
.main-section li.active.left {border-radius: 20px 0px 0px 20px;}
.imgboxwrap .thumnailwrap{flex-direction: row;}

[dir=ltr] .fslct{
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}

[dir=rtl] .sign , [dir=rtl] .signup{
    margin-right: 0px;
    margin-left: 8px;
}
[dir=rtl] .mr-2{margin-right: .0rem!important;margin-left: .5rem!important;}
[dir=rtl] .fslct {
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}
[dir=rtl] .mobileimg{
    left: 0px;
    right: unset !important;
}
[dir=rtl] .text-md-left{
        text-align: right!important;
}

[dir=rtl] .custcontainer nav p{text-align: left;}
[dir=rtl] .footerbtm nav ul li a{text-align: center;}
[dir=rtl] .VehicleOverview .desc-wrapper,
[dir=rtl] .VehicleOverview li.box p,
[dir=rtl] .Overview,
[dir=rtl] .sectionWrap .formwrapper .form-group,
[dir=rtl] .sectionWrap .innerboxWrap,
[dir=rtl] .mylist .row50{text-align: right;}
[dir=rtl] .imgboxwrap .thumnailwrap .childbox{margin-right: unset !important;margin-left: 2%;}
[dir=rtl] .aboutcar ul li{margin-left: 5%;margin-right: 0px !important;}
[dir=rtl] .input-group-append .btnred{border-radius: 16px 0px 0px 16px;}
[dir=rtl] .imgboxwrap .thumnailwrap .txtbox{text-align: right !important;}
[dir=rtl] .languagelist li a.dropdown-toggle,
[dir=rtl] .dropdown a.dropdown-toggle::after{ margin-left: 0;margin-right: 6px;}
[dir=rtl] a.dropdown-toggle.userProfile::before{margin-right: 0 !important;margin-left: 6px;}
/*.redblock{}*/
[dir=rtl] .sectionWrap .innerboxWrap .selectbox:after{right: auto !important;left: 28px;}
[dir=rtl] .bg-white .form-group .selectbox:after{right: auto !important;left: 12px;}
[dir=rtl] .dropdown-item{text-align: right;}
[dir=rtl] .slctbox:after{left: 11px;right: auto!important;}
[dir=rtl] .uplodblock{margin-left: 10px;margin-right: auto !important}
[dir=rtl] .main-section li.active.left {border-radius: 0px 20px 20px 0px;}
[dir=rtl] .main-section li.active.right{border-radius: 20px 0px 0px 20px;}
[dir=rtl] ul.dropdown-menu li span{margin-right: 0!important;margin-left: 4px;}
[dir=rtl] .pr-0, [dir=rtl] .px-0 {padding-left: 0!important;}
[dir=rtl] .form-check{padding-right: 1.25rem;padding-left: 0px;}
[dir=rtl] .form-check-input{margin-right: -1.25rem;margin-left: 0px;}
[dir=rtl] .formwrap input[type="radio"]{margin-right: 0px;margin-left: 6px;}
[dir=rtl] .location{margin-right: 0px !important;margin-left: 4px;}
[dir=rtl] li.box .borderred{margin-left: 10px;margin-right: 0px !important}
[dir=rtl] .dealerwrap .spritergt{margin-right: 0px !important;margin-left: 10px;}
[dir=rtl] footer p{text-align: right;width: 100%;direction: ltr;}

[dir="rtl"] .mainCarousel .slick-next:before,
[dir="rtl"] .mainCarousel .slick-prev:before,
[dir="rtl"] .ngxcarousel .slick-next:before,
[dir="rtl"] .ngxcarousel .slick-prev:before{content: "";}

[dir="rtl"] .mainCarousel .slick-next, [dir="rtl"] .ngxcarousel .slick-next{left: auto;right: 0px;}
[dir="rtl"] .mainCarousel .slick-prev, [dir="rtl"] .ngxcarousel .slick-prev{right: auto;left: 0px;}
/*slider*/
[dir="rtl"] .slick-initialized .slick-slide {display: inline-block !important;}

[dir="rtl"] .slick-slide {
    float: left !important;
}
/*car listing*/
[dir="rtl"] .aboutcar ul li .sprite{margin-left: 5px;margin-right: 0px;}
[dir="rtl"] .detailcar .dflex .imgwrap{margin-left: 2%;margin-right: 0px;}
[dir="rtl"] .detailcar .txtbox,
[dir="rtl"] #testDerivelist .flexcol , [dir="rtl"] .modalPos .formwrap{text-align: right;}

[dir="rtl"] div.dropdown a .caret{margin: 0px 0px 0px 0px;}
[dir="rtl"] .navbar.dropnav .dropdown-menu {left: -11px!important;right: auto!important;}
[dir="rtl"] .navbar.dropnav .dropdown .dropdown-menu a{text-align: right;}
[dir="rtl"] #testDerivelist .modal-body ul li::before{margin-left: 10px;margin-right: 0px !important;}
/**/
[dir="rtl"] .close.closebtn{float: left!important;}
[dir=rtl] .sectionWrap .selectbox:after{right: auto!important;left: 14px;}
[dir=rtl] .text-right{text-align: left!important;}
.errorUptoYear{color: red; font-size: 12px; float:right;}
[dir=rtl] .errorUptoYear{color: red; font-size: 12px; float:left;}
[dir=rtl] .uplodblock.divImagesWrap{ float: right!important;} 
[dir=rtl] .uploadimg { direction: ltr; }
/* .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.show .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -300px, 0);
   transform: translate3d(0, -300px, 0);
   opacity: 1;
} */