<!-- The sign-in Modal -->
<div class="modal modalPos fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <div class="mb-4">
                    <button type="button" #closeSignIn class="close closebtn" (click)="closeForm(f);" data-dismiss="modal">
                    <span class="sprite cross"></span>
                </button>
                </div>
                <!-- signIn Form starts -->
                    <div class="formwrap">
                        <form class="seminor-login-form" #f="ngForm" [formGroup]="signInForm" (ngSubmit)="signInForm.valid && signIn(signInForm.value,f);">
                            <h2 class="title text-center mb-4 text-uppercase">{{'LogIn' | translate}}</h2>

                            <div class="form-group">
                                <input type="email" class="form-control" [formControl]="signInForm.controls['email']"  required autocomplete="off" placeholder="{{ 'email' | translate}}">
                                <label for="email" class="sr-only">{{ 'email' | translate}}</label>
                                
                                <p class="errorMessage" *ngIf="(signInForm.controls['email'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterEmail' | translate}}</p>
                                <p class="errorMessage" style="color:red" *ngIf="(signInForm.controls['email'].hasError('pattern') && f.submitted)">*{{ 'errorInvalidEmail' | translate}}</p>
                            
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" [formControl]="signInForm.controls['password']"  required autocomplete="off" placeholder="{{ 'password' | translate}}">
                                <label for="password" class="sr-only">{{ 'password' | translate}}</label>
                            
                                <p class="errorMessage" *ngIf="(signInForm.controls['password'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorPassword' | translate}}</p>
                            
                            </div>

                            <div class="d-flex justify-content-between remberwrap">
                                <div class="form-group form-check">
                                    <label class="form-check-label txtgrey">
                                    <input class="form-check-input" (change)="isRemember=!isRemember" type="checkbox"> {{ 'rememberMe' | translate}}
                                </label>
                                </div>
                                <div class="">
                                    <a href="#" class="txtgrey" data-toggle="modal" data-target="#forgotModel" data-dismiss="modal" data-backdrop="static">{{ 'ForgotPassword' | translate}}</a>
                                </div>
                            </div>
                            <div class="btn-check-log form-group">
                                <button type="submit" class="btn btnlogin btn-block">
                                    <span *ngIf="!isloader">{{ 'LogIn' | translate}}</span>
                                    <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                            <div></div>
                                            <div></div>
                                    </div>
                                </button>
                            </div>
                            <div class="text-center form-group">
                                <p class="txtgrey">{{ 'haveAccount' | translate}}</p>
                            </div>
                            <div class="text-center form-group">
                                <a  data-dismiss="modal" #signupOpen data-toggle="modal" data-backdrop="static" data-target="#signup" style="display:none;"></a>
                                <a href="javascript:void(0);" class="txtgrey" (click)="signupClick();" data-dismiss="modal">{{'registerHere' | translate}}</a>
                            </div>
                        </form>
                    </div>
                <!-- end signIn Form -->
            </div>
        </div>
    </div>
</div>
<ng-content></ng-content>
<!-- The sign-in Modal -->