.selectbox:after {
background: url('assets/images/Spritesheet.png');
background-position: -40px -24px;
width: 12px;
height: 6px;
content: '';
right: 28px;
top: 18px;
position: absolute;
pointer-events: none;
}
.btnsubmit.btnsearch{
width: 30%;font-weight: 600;
}
.innerboxWrap{
width: 100%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
 font-size: 16px;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
    .btnsubmit.btnsearch{width: 50%;}
}
	
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
   

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btnsubmit.btnsearch{
    width: 50%;
    }
    .col-xs{
    width: 50%;
    }
    .btnsubmit.btnsearch {
    width: 100%;
    }
    .txt20{font-size: 18px;}
    input::placeholder{font-size: 14px;}
}

