<section class="sectionWrap">
	<div class="container">
		<div class="innerboxWrap">
			<div class="">
				<h2 class="txt20 text-uppercase">{{ 'ADVANCESEARCH.Title' | translate}}</h2>
			</div>

			<div class="mt-4">
				<form #f="ngForm" [formGroup]="addAdvanceSearchForm" (ngSubmit)="addAdvanceSearchForm.valid && searchCarData(addAdvanceSearchForm.value,f);"
				 novalidate="false">
					<div class="row">
						<div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs selectbox mb-xl-5">
							<select name="yearfrom" [formControl]="addAdvanceSearchForm.controls['yearfrom']" #year (change)="setYeatTo(year.value)"
							 class="form-control">
								<option value="null" selected="selected">{{ 'ADVANCESEARCH.YearFrom' | translate}}</option>
								<option *ngFor="let year of year_from" value="{{year.name}}" >{{ year.name }}</option>
							</select>
						</div>
						<div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs selectbox mb-xl-5">
							<select name="yearto" [formControl]="addAdvanceSearchForm.controls['yearto']" class="form-control" #yearTo (change)="setMakes(year.value, yearTo.value)">
								<option value="null" selected="selected">{{ 'ADVANCESEARCH.YearTo' | translate}}</option>
								<option *ngFor="let year of year_to | yearArray : 0 :'forth'" value="{{year}}" >{{ year }}</option>							
							</select>
							<p *ngIf="addAdvanceSearchForm.controls['yearto'].errors?.getYearTo" style="color: red; font-size: 12px; float:right;">*{{ 'errorUptoYear' | translate}}</p>
						</div>
						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="make_id" class="form-control" [(ngModel)]="searchObj.make_id" [formControl]="addAdvanceSearchForm.controls['make_id']" #makeId (change)="getAllModels($event.target.value)">
                                <option value="" selected="selected" >{{ 'CarMake' | translate}}</option>
                                <option *ngFor="let data of makes; let i = index;" value="{{ data.id }}">
                                        {{ data.key | translate}}
                                </option>
                            </select>
						</div>
						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="model_id" [formControl]="addAdvanceSearchForm.controls['model_id']" class="form-control" [(ngModel)]="searchObj.model_id" (change)="getAllTrims(makeId.value,$event.target.value)">
								<option value="" selected="selected">{{ 'CarModel' | translate}}</option>
								<option *ngFor="let modelData of models" value="{{modelData.id}}">{{ modelData.name | translate}}</option>
        					</select>
						</div>
						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="trim_id" [formControl]="addAdvanceSearchForm.controls['trim_id']" class="form-control" [(ngModel)]="searchObj.trim_id">
								<option value="" selected="selected">{{'trims' | translate}}</option>
								<option *ngFor="let trimData of trims" value="{{trimData.id}}">{{ trimData.name }}</option>
        					</select>
						</div>
						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select [formControl]="addAdvanceSearchForm.controls['country_id']" name="country_id" class="form-control" (change)="getAllCities($event.target.value)" [(ngModel)]="searchObj.country_id">
								<option value="" selected="selected"> {{ 'Country' | translate}} </option>
								<option *ngFor="let data of countries; let i = index;" value="{{ data.id }}">
								{{ data.key | translate}}
								</option>
							</select>
						</div>
						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="city_id" [formControl]="addAdvanceSearchForm.controls['city_id']" class="form-control" [(ngModel)]="searchObj.city_id">
                		<option value="" selected="selected">{{ 'City' | translate}}</option>
                		<option *ngFor="let cityData of cities" value="{{ cityData.id }}">
                    		{{ cityData.key | translate}}
                		</option>
        			</select>
						</div>

						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="condition_id" #condition [formControl]="addAdvanceSearchForm.controls['condition_id']" class="form-control">
					<option value="">{{ 'vehicleCondition' | translate}}</option>
					<option *ngFor="let data of conditions; let i = index;" value="{{ data.id }}">
					{{ data.name | translate}}
					</option>
					</select>
						</div>

						<div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs mb-xl-5">
							<input type="tel" name="price_from" (keypress)="numOnly($event)" [formControl]="addAdvanceSearchForm.controls['price_from']"
							 placeholder="{{'priceFrom' | translate}}" class="form-control">
						</div>
						<div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs mb-xl-5">
							<input type="tel" (keypress)="numOnly($event)" name="price_to" [formControl]="addAdvanceSearchForm.controls['price_to']"
							 placeholder="{{'priceTo' | translate}}" class="form-control">
							<p *ngIf="addAdvanceSearchForm.controls['price_to'].errors?.getPriceTo" style="color: red; font-size: 12px; float:right;">*{{ 'errorUptoPrice' | translate}}</p>
						</div>
						<div *ngIf="condition.value==2 || condition.value==''" class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="kilometer" [formControl]="addAdvanceSearchForm.controls['kilometer']" class="form-control">
						<option value="" selected="selected">{{ 'ADVANCESEARCH.Mileage' | translate}}</option>
						<option *ngFor="let data of kilometres; let i = index;" value="{{ data.kilometer }}">
							{{ data.kilometer }} 
						</option>
					</select>
						</div>
						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="color_id" [formControl]="addAdvanceSearchForm.controls['color_id']" class="form-control">
								<option value="">{{ 'ADVANCESEARCH.Color' | translate }}</option>
								<option *ngFor="let data of colors; let i = index;" value="{{ data.id }}">
								{{ data.name | translate}}
								</option>
							</select>
						</div>
						<div *ngIf="condition.value==2 || condition.value==''" class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select name="interiors" [formControl]="addAdvanceSearchForm.controls['interiors']" class="form-control">
								<option value="" selected="selected">{{ 'ADVANCESEARCH.Interiors' | translate}}</option>
								<option *ngFor="let data of interiors; let i = index;" value="{{ data.name }}">
									{{ data.name | translate}}
								</option>
							</select>
						</div>
						<div class="form-group col-lg-4 col-md-6 col-sm-12 selectbox mb-xl-5">
							<select class="form-control" name="seats" [formControl]="addAdvanceSearchForm.controls['seats']">
								<option value="" selected="selected">{{ 'ADVANCESEARCH.Seats' | translate}}</option>
								<option *ngFor="let data of seats; let i = index;" value="{{ data.name }}">
									{{ data.name }}
								</option>
							</select>
						</div>
					</div>
					<div class="text-center w-100">
						<button type="submit" class="btn btnsubmit btnsearch">{{ 'ADVANCESEARCH.Search' | translate}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>