
.TestDrive .msgDealer.dealerInfo{
	border: 1px solid #e8e8e8;margin-bottom: 12px;
}

.btndrive{
	background-color: #ff3b3d;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 14px;
	border-radius: 20px;
	width: 80%;
	margin: 0 auto;
}


.msgform{
	width: 85%;
	margin: 0 auto;
	padding: 12px 0;
}

input , textarea{
    font-size:14px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
	font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 14px;
}
textarea::placeholder {
  color:#4e5761;  
}

li.dealerwrap {
	display: flex;
	width: 100%;
	align-items: flex-start;
	margin-bottom: 8px;
}
.email {
	background-position:-113px -141px;
	width: 23px;
	height: 15px;
}
.Phone{
	background-position: -151px -140px;
	width: 16px;
	height: 16px;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
	
	li.dealerwrap{
		display: inline-flex;
		width: 48%;
	}
	.d-hide .msgform {
	padding: 12px 0 0 0;
	}


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
	.dealerwrap p{
		text-align: left;
	}
   .VehicleDescription p{
   	text-align: left;
   }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    li.dealerwrap{
    	width: 100%;
    }
}


/*modal*/
#testdrive .mheader{
	background-color: #ff3b3d;
	color: #fff;
	    padding: 12px;
}
#testdrive .mheader p{
	text-align: center;
	margin-bottom: 0;
	font-size: 18px;
}
#testdrive p{
	margin-bottom: 0;
}
#testdrive p.bookingmsg{
	font-size: 16px;
	font-weight: 500;
}
#testdrive p.bookingdate{
	font-size: 14px;
}
#testdrive ul{
	list-style: none;
}
#testdrive ul li {
    color: #686e76;
    border-bottom: 1px solid #ececeb;
  padding: 6px 8px;
  display: flex;
  align-items: baseline;
}
#testdrive ul li:last-child {
border-bottom: none;
}
#testdrive .modal-body{
	padding: 0;
}
/*.bookinglist {
    padding: 0 10px 0px 30px;
}*/
#testdrive .modal-body ul li::before {
content: "";
    background-color: #474948;
    font-weight: bold;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 4px;
}
#testdrive .modal-dialog{
max-width: 500px;
}
#testdrive form.msgform{width:80%;margin: 0 auto;}
#testdrive .modal-content{
	overflow: hidden;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
	#testdrive .modal-dialog{
		max-width: 600px;
	}

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
   .VehicleDescription p , .dealerwrap p , .carouselbg p{
   	text-align: left;
   }
	#testdrive .modal-dialog{
	max-width: 500px;
	}
	#testdrive p.bookingmsg{
	font-size: 14px;
	}
	#testdrive p.bookingdate{
	font-size: 12px;
	}
	#testdrive p{
		text-align: left;
	}
	.bookinglist {
    min-height: 200px;
    max-height: 350px;
    overflow-y: auto;}
    
    #testdrive .mheader{
    	padding: 4px;
    }

}
