<!-- test drive booking -->
<div class="modal modalPos fade" id="testdrive">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="mheader">
					<p>{{ 'testDriveBooking' | translate}}
					<button #closetestDrive class="close closebtn" data-dismiss="modal" type="button" (click)="closetestDriveForm(t);">
						<span class="sprite cross"></span>
					</button>
					</p>
				</div>
	
				<div class="modal-body">
					<div class="textdetail">
						<form #t="ngForm" class="msgform" [formGroup]="testDriveform" (ngSubmit)="testDriveform.valid && testDriveSubmit(testDriveform.value,t);" novalidate="false">												
							<div class="form-group">
								<input type="tel" class="form-control" autocomplete="off" placeholder="{{ 'name' | translate}}" [formControl]="testDriveform.controls['customer_name']">
								<label for="name" class="sr-only">{{ 'name' | translate}}</label>
		
								<p class="errorMessage" *ngIf=" (testDriveform.controls['customer_name'].hasError('required') && t.submitted )" style="color:red">*{{ 'name' | translate}} {{ 'errorCantEmpty' | translate}}</p>
							</div>
	
							<div class="form-group">
								<input type="text" class="form-control" autocomplete="off" placeholder="{{ 'email' | translate}}"  [formControl]="testDriveform.controls['customer_email']">
	
								<label for="email" class="sr-only">{{ 'email' | translate}}</label>
		
								<p class="errorMessage" *ngIf=" (testDriveform.controls['customer_email'].hasError('required') && t.submitted )" style="color:red">*{{ 'errorEnterEmail' | translate}}</p>
								<p class="errorMessage" *ngIf=" (testDriveform.controls['customer_email'].hasError('pattern') && t.submitted)" style="color:red">*{{ 'errorInvalidEmail' | translate}}</p>
							</div>
	
							<div class="form-group">
								<input type="tel" class="form-control" autocomplete="off" placeholder="{{ 'phoneNumber' | translate}}" (keypress)="numOnly($event)" [formControl]="testDriveform.controls['phone_number']" minlength="10" maxlength="10">
								
								<label for="Phone number" class="sr-only">{{ 'phoneNumber' | translate}}</label>
		
								<p class="errorMessage" *ngIf=" (testDriveform.controls['phone_number'].hasError('required') && t.submitted )" style="color:red">*{{ 'phoneNumber' | translate}} {{ 'errorCantEmpty' | translate}}</p>
							</div>
	
							<div class="form-group">
								<textarea class="form-control" [formControl]="testDriveform.controls['message']" rows="5" placeholder="{{ 'messages' | translate}}"></textarea>
	
								<p class="errorMessage" *ngIf=" (testDriveform.controls['message'].hasError('required') && t.submitted )" style="color:red">*{{ 'messages' | translate}} {{ 'errorCantEmpty' | translate}}</p>
							</div>
	
							<div class="form-group">
								<button type="submit" class="btndrive btn btn-block">
									<span *ngIf="!isloader">{{ 'send' | translate}}</span>
                                    <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                            <div></div>
                                            <div></div>
                                    </div>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- test drive booking -->