<header>       
    <!-- login nav -->
    <nav class="navbar navbar-expand-lg navbar-light navhead navbar-light py-2 justify-content-lg-center">
        <div class="collapse navbar-collapse sidenav" id="navbarCollapse" data-toggle="collapse" data-target="#navbarCollapse">
            <ul class="navbar-nav">

                <li class="bhide">
                    <div class="dropdown">
                        <a href="" class="dropdown-toggle  btn" [ngClass]="{'flag' : isLangEn, 'arflag' : !isLangEn}" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ ((isLangEn)? 'English' : 'Arabic') | translate}}</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="useLanguage('en')">{{'English' | translate}}</a>
                            <a class="dropdown-item" (click)="useLanguage('ar')">{{'Arabic' | translate}}</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item" routerLink="/home" routerLinkActive="active"> 
                    <a class="nav-link">
                    <span class="home sprite"></span>
                    {{ 'MENU.Home' | translate }}
                </a>
                </li>
                <li class="nav-item" routerLink="/listing/used-listing" [queryParams]="{condition_id:2, country_id:userInfo.country_id, city_id:userInfo.city_id}" routerLinkActive="active">
                    <a class="nav-link">
                    <span class="usedCar sprite"></span>
                    {{ 'MENU.UsedCars' | translate }}
                </a>
                </li>
                <li class="nav-item" routerLink="/listing/new-listing" [queryParams]="{condition_id:1, country_id:userInfo.country_id, city_id:userInfo.city_id}" routerLinkActive="active">
                    <a class="nav-link" >                            
                        <span class="newCar sprite"></span>
                        {{ 'MENU.NewCars' | translate }}
                    </a>
                </li>
                <li *ngIf='menu' class="nav-item" routerLink="/sellcar" routerLinkActive="active">
                    <a class="nav-link" >                            
                        <span class="sellCar sprite"></span>
                        {{ 'MENU.SellMyCar' | translate }}
                    </a>
                </li>
                <li class="nav-item" routerLink="/quest" routerLinkActive="active">
                    <a class="nav-link" >                            
                        <span class="question sprite"></span>
                        {{ 'MENU.Questions' | translate }}
                    </a>
                </li>

                <li *ngIf="(userInfo | json) == '{}'" class="bhide" >
                    <a href="" class="btn btnsign nav-link" data-target="#myModal" data-toggle="modal" data-backdrop="static">
                        <span _ngcontent-c1="" class="sprite sign"></span>
                        {{ 'MENU.Signin' | translate }}                        
                    </a>
                </li>

                <li *ngIf="(userInfo | json) != '{}'" class="bhide">
                    <div class="dropdown">
                        <a href="" class="dropdown-toggle userProfile btn" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'MENU.Hi' | translate }}! {{ userInfo.name }}</a>
                        <ul class="dropdown-menu">
                            <li class="profilelist">
                                <div class="dropdown-item d-flex align-items-center">
                                    <span class="sprite profile"></span>
                                    <div >
                                        <a class="dropdown-item pr-0"> {{ userInfo.name }}</a>
                                        <a href="" class="dropdown-item pr-0" data-target="#editProfile" data-toggle="modal" data-backdrop="static">{{ 'MENU.EditProfile' | translate }}</a>
                                    </div>
                                </div>
                            </li>
                            <div class="dropdown-divider"></div>

                            <li class="listinline" routerLink="/car-listing" routerLinkActive="active" class="dropdown-item">
                                <a><span class="sprite carList"></span>
                                    {{ 'MENU.MyCarListing' | translate }}</a>
                            </li>

                            <!-- <li class="listinline" >
                                <a routerLink="/message" routerLinkActive="active" class="dropdown-item"><span class="sprite message"></span> Message</a>
                            </li> -->

                            <li class="listinline">
                                <a href="" data-target="#testDerivelist" (click)="testdriveClick()" data-backdrop="static" data-toggle="modal"  class="dropdown-item"> <span class="sprite testdrive">
                                </span> {{ 'MENU.TestDriveBookings' | translate }}</a> 
                            </li>

                            <li class="listinline" >
                                <a href="" class="dropdown-item" data-target="#chngepwd" data-backdrop="static" data-toggle="modal">
                            <span class="sprite pwd"></span>
                            {{ 'MENU.ChangePassword' | translate }}
                            </a>
                            </li>

                            <li class="listinline" >
                                <a (click)='logout()' class="dropdown-item"><span class="sprite logout"></span> {{ 'MENU.Logout' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="(userInfo | json) == '{}'" class="bhide" >
                    <a href="" class="btn btnsign nav-link" data-target="#signup" data-toggle="modal" data-backdrop="static">
                <span _ngcontent-c1="" class="sprite signup"></span>
                    {{ 'MENU.SignUp' | translate }}
                </a>
                </li>

            </ul>
        </div>

        <!--  -->
        <div class="nav navtoggle">
            <ul class="list-inline mb-0 languagelist">
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="" class="nav-link dropdown-toggle btn" [ngClass]="{'flag' : isLangEn, 'arflag' : !isLangEn}"  id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ ((isLangEn)? 'English' : 'Arabic') | translate}}</a>
                        
                        <div class="dropdown-menu">
                            <a href="" class="dropdown-item" (click)="useLanguage('en')">{{'English' | translate}}</a>
                            <a href="" class="dropdown-item" (click)="useLanguage('ar')">{{'Arabic' | translate}}</a>
                        </div>
                    </div>
                </li>

                <li *ngIf="(userInfo | json) != '{}'" class="">
                    <div class="dropdown">
                        <a href="" class="nav-link dropdown-toggle userProfile btn" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'MENU.Hi' | translate }}! {{ userInfo.name }}</a>

                        <ul class="dropdown-menu">
                            <li class="profilelist">
                                <div class="dropdown-item d-flex justify-content-between align-items-center">
                                    <span class="sprite profile"></span>
                                    <div >
                                        <a class="dropdown-item pr-0"> {{ userInfo.name }}</a>
                                        <a class="dropdown-item pr-0" data-target="#editProfile" data-toggle="modal" data-backdrop="static">{{ 'MENU.EditProfile' | translate }}</a>
                                    </div>
                                </div>
                            </li>
                            <div class="dropdown-divider"></div>

                            <li class="listinline" routerLink="/car-listing" routerLinkActive="active" class="dropdown-item">
                                <a ><span class="sprite carList"></span>
                                {{ 'MENU.MyCarListing' | translate }}</a>
                            </li>

                            <!-- <li class="listinline" >
                                <a routerLink="/message" routerLinkActive="active" class="dropdown-item"><span class="sprite message"></span> Message</a>
                            </li> -->

                            <li class="listinline">  
                                <a href="" data-target="#testDerivelist" (click)="testdriveClick()" data-backdrop="static" data-toggle="modal" class="dropdown-item"> <span class="sprite testdrive">
                                </span> {{ 'MENU.TestDriveBookings' | translate }}</a> 
                            </li>

                            <li class="listinline" >
                                <a href="" class="dropdown-item" data-target="#chngepwd" data-toggle="modal" data-backdrop="static">
                                <span class="sprite pwd"></span>
                                {{ 'MENU.ChangePassword' | translate }}
                                </a>
                            </li>

                            <li class="listinline" >
                                <a (click)='logout()' class="dropdown-item"><span class="sprite logout"></span> {{ 'MENU.Logout' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="(userInfo | json) == '{}'" class="">
                    <a href="" class="btn btnsign nav-link" data-target="#myModal" data-toggle="modal" data-backdrop="static">
                    <span _ngcontent-c1="" class="sprite sign"></span>
                    {{ 'MENU.Signin' | translate }}
                    </a>
                </li>
            </ul>

            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span> </span>
                <span> </span>
                <span> </span>
            </button>
        </div>
    </nav>
</header>

<!-- sign-in Modal -->
<app-sign-in (isLogin)="setUserInfo($event)"></app-sign-in>
<!-- sign-in Modal -->

<!-- forgot Modal -->
<app-forgot-password (isForgotPwd)="setUserEmail($event)"></app-forgot-password>
<!-- forgot Modal -->

<!-- signup Modal -->
<app-register [countries]="countries" (isLogin)="setUserInfo($event)"></app-register>
<!-- signup Modal -->

<!-- change Password -->
<app-change-password></app-change-password>
<!-- change Password -->

<!-- reset Password -->
<app-reset-password [userMail]="userMail"></app-reset-password>
<!-- reset Password -->

<!-- OTP Modal -->
<!-- <app-otp-verification [userMail]="userMail" [otpMail]="otpMail"></app-otp-verification> -->
<app-otp-verification [userMail]="userMail"></app-otp-verification> 
<!-- OTP Modal -->

<!-- edit profile Modal -->
<app-edit-profile [countries]="countries" (isLogin)="setUserInfo($event)"></app-edit-profile>
<!-- edit profile Modal -->

<!-- test drive bookings Modal -->
<app-testdrive-bookings [testdrive]="testdrive"></app-testdrive-bookings>
<!-- test drive bookings Modal -->