header .navbar {
    /*background-color: #fff;*/
    padding: 10px 15px;
  }
  .nav.navbar-header.navright {
      width: 35%;
  }
  .nav {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  ul.languagelist li{
  display: inline-block;
  }
  .navbar .navbar-collapse.sidenav{
  flex-grow: 0!important;
  }
  
    .navbar .navbar-nav li.nav-item,
    .nav > ul.languagelist > li{ padding: 0 15px;vertical-align: middle;}
  
  
  .navhead.navbar-light .navbar-nav .nav-item .active.nav-link{
      color:#ff3b3d;
  }
  
  nav.navhead ul li a.nav-link{
      font-size: 16px;
  }
  nav.navhead ul li a.nav-link{
      color: #4e5761;
      font-family: 'Raleway';
      font-weight: 600;
  }
  nav.navhead ul li a.nav-link.btnsign{
  color: #fff; padding: 6px 22px;    
  width: 100%;
  justify-content: center;
  
  }
  .navhead.navbar-light .navbar-nav .nav-item a:focus, .navhead.navbar-light .navbar-nav .nav-item a:hover{
      color: #ff3b3d;
  }
  
  .btnsign{
    background-color: #ff3b3d;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    display: -webkit-box;   
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;     
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 4px 14px;
    font-family: 'Raleway';
    font-weight: 500;
    margin: auto 0;
}
  /*nav.navhead ul li a.nav-link.btnsign:hover , nav.navhead ul li a.nav-link.btnsign:focus{*/
      a.btn.btnsign.nav-link:focus , a.btn.btnsign.nav-link:hover{
       color: #fff;
  }
  
  .sign{
    width: 21px;
    height: 19px;
    background-position: -89px -18px;
  }

  .signup {
      background-position:-575px -86px;
      width: 17px;
      height: 18px;
      /*margin-right: 8px;*/
  }
  
  
  .flag , .userProfile{
  display: -webkit-box;   
  display: -moz-box;        
  display: -ms-flexbox;  
  display: -webkit-flex;     
  display: flex; 
  align-items: center;
  justify-content: space-between;
  }

  
  a.dropdown-toggle::after{
      content: "";
      background: url('assets/images/Spritesheet.png');
      background-position:-63px -25px;
      width: 12px;
      height: 6px;
      border: none;
      margin-left: 6px;
  }
  
  a.dropdown-toggle.userProfile::before{
      content: "";
      display: inline-block;
      background: url('assets/images/Spritesheet.png');
      background-position:-17px -75px;
      width: 20px;
      height: 20px;
      margin-right: 6px;
  }
  
  a.dropdown-toggle.flag::before{
      content: "";
      display: inline-block;
      background: url('assets/images/Spritesheet.png');
      background-position:-4px -19px;
      width: 24px;
      height: 15px;
      margin-right: 6px;
  }
  
  a.dropdown-toggle.arflag::before {
    content: "";
    display: inline-block;
    background: url('assets/images/Spritesheet.png');
    background-position: -543px -135px;
    width: 25px;
    height: 18px;
    margin-left: 6px;
}
  
  .home {
      background-position:-207px -73px;
      width: 20px;
      height: 17px;
  }
  .usedCar {
      background-position:-240px -72px;
      width: 19px;
      height: 20px;
  }
  .newCar {
      background-position: -271px -75px;
      width: 20px;
      height: 15px;
  }
  .sellCar {
      background-position: -302px -68px;
      width: 27px;
      height: 24px;
  }
  .question {
      background-position: -338px -72px;
      width: 20px;
      height: 20px;
  }
  .nav-item span{
      display: none;
  }
  /*sidenav*/
  .navbar-toggler:focus,
  .navbar-toggler:active {
      outline: 0;
  }
  
  .navbar-toggler span {
     display: block;
     background-color: #ff3b3d;
     height: 3px;
     width: 25px;
     margin-top: 4px;
     margin-bottom: 4px;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     position: relative;
     left: 0;
     opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
     -webkit-transition: transform .35s ease-in-out;
     -moz-transition: transform .35s ease-in-out;
     -o-transition: transform .35s ease-in-out;
     transition: transform .35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
      height: 12px;
      visibility: hidden;
      background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
      position: absolute;
      left: 12px;
      top: 10px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      opacity: 0.9;
  }
  .profile {
      background-position: -379px -70px;
      width: 40px;
      height: 40px;
  }
  .carList {
      background-position:-442px -84px;
      width: 17px;
      height: 22px;
  }
  .message {
      background-position: -471px -87px;
      width: 22px;
      height: 16px;
  }
  
  .pwd {
      background-position:-506px -86px;
      width: 19px;
      height: 19px;
  }
  .logout {
      background-position: -542px -85px;
      width: 20px;
      height: 20px;
  }
  ul.dropdown-menu li span{
      display: inline-block;
      margin-right: 4px;
  }
  ul.dropdown-menu li.listinline {
      padding: 5px 0;
      width: 100%;
  }
  
  
  .bhide {
      display: none;
  }

  
  .testdrive{
    background-position: -271px -75px;
    width: 20px;
    height: 15px;
}
ul.languagelist li.profilelist {
    display: block;
}