img{

    max-width: 100%;
    width: 100%;
}
/*.imgwrap:hover , .imgwrap:focus{
    opacity: .5;
}
*/
.headwrpper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 98%;
        align-items: baseline;
}

.dot {

    background-position: -753px -26px;
    width: 4px;
    height: 17px;
    float: right;
    margin-right: 0!important;
}
.edit {
     background-position:-774px -28px;
    width: 17px;
    height: 17px;
}
.delete {
    background-position:-775px -87px;
    width: 14px;
    height: 18px;
}
/*.dotsleft{
    display: inline-block;
}*/

.listblock{
    width: 100%;
    margin: 0 auto;
}
.mylist{
    background-color: #e7e7e7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4e5761;
        margin: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
}
.row50{
    width: 50%;
}
.row50 .selectbox{
    width: 45%;    position: relative;
}
.selectbox:after {
    background: url("assets/images/Spritesheet.png");
    background-position: -40px -24px;
    width: 12px;
    height: 6px;
    content: '';
        right: 14px;
    top: 16px;
    position: absolute;
    pointer-events: none;
}
.mylist:nth-child(1) p{
    font-weight: 600;
    color: #313233;
    font-size: 18px;
}
/*.mylist .row50 p{
    font-weight: 600;
    color: #313233;
    font-size: 18px;

}*/
/*************/
.detailcar{
    padding: 10px;
    background-color: #fff;
    border:1px solid #eeeeef;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.imgwrap{
    flex: 1;
    margin-right: 2%;
    align-self: center;
/*        max-height: 135px;
    overflow: hidden;*/
}
.imgwrap img{max-height: 130px;}
.aboutcar ul{
    margin: 10px 0;
}
.aboutcar ul li{
    margin-right: 10%;
    font-weight: 600;
    font-family: 'Raleway';
    color: #313233;
    font-size: 16px;
    display: inline;
}
.aboutcar ul li i{
    display: none;
}
.sprite{
    margin-right: 5px;
}

.vin {
    background-position: -516px -130px;
    width: 19px;
    height: 23px;
}

.aboutcar .txt14{
font-size: 14px;
color: #565657;
font-family: 'Raleway';
margin-bottom: 0;
}

p.txt14{
    font-size: 16px;
    font-weight: 100;
    color: #313233;
    margin-bottom: 0;
}

.txtbox {
    width: 82%;
}

.txtbox .dflex{
    display: -webkit-box;   
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;     
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
}
.usedcar{
    background-position: -50px -78px;
    width: 21px;
    height: 17px;
}
.miles{
    background-position: -83px -81px;
    width: 23px;
    height: 12px;
}
.carcolor{
    background-position:-117px -79px;
    width: 20px;
    height: 16px;
}
.seats{
    background-position: -148px -77px;
    width: 14px;
    height: 17px;
}
.cardetail{
        color: #313233;
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 18px; margin-bottom: 0;
}
.carprice{
    font-family: 'Lato';color: #ff3b3d;font-weight:600;font-size: 16px;   
}
p.countrytxt{
    color: #313233;
    font-size: 16px;
    margin-bottom: 0;
}

/* caret style */
.caret {
    position: relative;    top: 4px; margin: 0 10px;
}

/* dropdown style */
.navbar.dropnav .dropdown.show .caret:before,
.navbar.dropnav .dropdown.show .caret:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.navbar.dropnav .dropdown.show .caret:before {
    border-bottom-color: #ccc;
    bottom: -11px;
    right: -4px;
}

.navbar.dropnav .dropdown.show .caret:after {
    bottom: -13px;
    right: -4px;
    border-bottom-color: #fff;
}
.navbar.dropnav .dropdown-menu{
    /*right: 0;*/
    right: -11px;
    left: auto;
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 104px;
    padding: 5px 0;  
    margin: 14px 0 0;
   font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar.dropnav .dropdown-toggle::after{
    content: none;
}
/* navbar style */
.navbar.dropnav {
    position: relative;
    padding: 0;
    /*width: 15%;*/
}
.navbar.dropnav .dropdown{
    width: 100%;

}
.navbar.dropnav .dropdown a.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar.dropnav .dropdown .dropdown-menu a{
        display: block;
    padding: 3px 16px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration:none;
    font-size: 16px;
}
.dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

@media only screen and (min-width: 1200px){

}

@media only screen and (max-width: 1024px) {

    .cardetail{font-size: 16px;}
    p.countrytxt,.aboutcar ul li,p.txt14,.navbar.dropnav .dropdown .dropdown-menu a{font-size: 14px;}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){

    .listblock{
    width: 100%;
    }

    .aboutcar ul li{
    width: 45%;
    margin-right: 0;
    display: inline-block;
    margin-bottom: 2px;
    }

    .headwrpper{
    flex-direction: column;
    width: 100%;
    }

    .aboutcar ul{
    margin: 6px 0px 0px 0px;
    }

    .txtbox {width: 72%;}
     .carprice{font-size: 14px;}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
.dflex p , .txtbox p , .mylist .row50 p{text-align: left;}  
.detailcar > .dflex{flex-direction: row;align-items: flex-start;}
.detailcar > .dflex > .imgwrap{margin-bottom:10px;margin-right: 10px;align-self:flex-start;}
.detailcar > .dflex > .imgwrap img{min-width: 110px;width: 110px;}
.detailcar > .dflex .txtbox{margin-left: 0;    width: 100%;}
.aboutcarc ul li{width: 48%;}
.aboutcar ul {margin: 10px 0 0px 0px;}
.mylist{border-radius: 5px;}
.imgwrap img{max-height: unset;}
.row50 { width: 60%;}
p.cardetail{font-size: 14px;}
p.countrytxt{font-size: 13px}
.aboutcar ul li{font-size: 11px;color: #666; width: auto;margin: 0;}
.aboutcar ul li span.sprite{display: none;}
.aboutcar ul li i{color:#666;display: inline-block;}
p.txt14,
.carprice{font-size: 12px;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mylist{flex-direction: column;}
    .mylist .row50{width: 100%;}
    .caret {position: relative;top: 6px;}
    .navbar.dropnav .dropdown-menu{margin: 16px 0 0;}
    /* .aboutcar ul li{width: 49%;    font-size: 13px;} */
    .aboutcar ul {margin: 0 0 0px 0px;}
    /* .aboutcar ul li:last-child{width: 100%;} */
}

/******************Alert Modals**************************/

.bidDetailDiv .greyBtn,
.userMessage .greyBtn {
    background: #8a8a8a none repeat scroll 0 0;
}

.bidDetailDiv .greyBtn,
.userMessage .greyBtn,
.bidDetailDiv .blueBtn,
.userMessage .blueBtn{
    border: medium none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'Raleway';
    font-weight: 600;
    outline: none;
}

.bidDetailDiv .blueBtn,
.userMessage .blueBtn {
    background: #ff3f3e none repeat scroll 0 0;
}

/*---------User Message Modal-------------*/

.userMessage .modal-dialog {
    max-width: 550px;
    width: 100%;
    top: 20%;
}

.userMessage .modal-content {
    padding: 30px 30px;
}

.userMessage label {
    text-transform: uppercase;
    color: #000;
    font-family: inherit;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
}

.userMessage label,
.userMessage textarea {
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}

.userMessage textarea {
    border: none;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    margin-bottom: 85px;
    height: 28px;
}

.userMessage .textWrap {
    position: relative;
}

.userMessage .textWrap:after {
    content: "";
    z-index: 1;
    position: absolute;
    right: -3px;
    bottom: 1px;
    width: 17px;
    height: 16px;
    background: url('/assets/images/note-icon.png');
}

.userMessage .blueBtn {
    margin-right: 15px;
}

@media only screen and (max-width: 480px) {
    .detailcar > .dflex > .imgwrap img{min-width: 90px;width: 90px;}
    p.cardetail{
        white-space: nowrap;
        width: 135px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}