<section class="sectionWrap">
	<!-- <div class="container" [@listAnimation]="searchData.length"> -->
	<div class="container" [@listAnimation]="searchData.length">
		<div class="listblock"
		infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
	  (scrolledUp)="onScrollUp()"
	  [infiniteScrollDisabled]="isFullListDisplayed">
			<form #f="ngForm" [formGroup]="myCarForm" (ngSubmit)="myCarForm.valid && myCarData(myCarForm.value);" novalidate="false">
				<div class="mylist">
					<div class="row50 uppercase">
						<p class="text-uppercase mb-0">{{ 'MyCarListings' | translate}}</p>
					</div>

					<div class="d-flex justify-content-between align-items-center row50">
						<div class="selectbox">
							<select name="make_id" class="form-control" [formControl]="myCarForm.controls['make_id']" (change)="myCarData(myCarForm.value)">
                                <option value="" default >{{ 'CarMake' | translate }}</option>
                                <option *ngFor="let data of makes; let i = index;" value="{{ data.id }}">
                                        {{ data.name | translate }}
                                </option>
                            </select>
						</div>

						<div class="selectbox">
							<select name="model_id" class="form-control" [formControl]="myCarForm.controls['model_id']" (change)="myCarData(myCarForm.value)">
								<option value="" >{{ 'CarModel' | translate }}</option>
								<option *ngFor="let modelData of models" value="{{modelData.id}}">{{ modelData.name | translate }}</option>
							</select>
						</div>
					</div>
				</div>
			</form>
			<!-- mylist end -->
			<div class="detailcar" *ngFor="let item of searchData" @explainerAnim>
				<div class="dflex coll">
					<div class="imgwrap coll" [ngClass]="{'overlaydiv' : item.is_sold==1, 'overlayfeatured' : (item.is_featured==1 && item.is_sold!=1) }"
					 (click)="onClick()">
						<a [routerLink]="['/car-listing/car-edit', item.id]" href="javascript:void(0);">
									<img *ngIf="item.vehicle_images?.length > 0 && item.vehicle_images[0].type == 0" src="{{ baseUrl }}{{ item.vehicle_images[0].name }}">
									<img *ngIf="item.vehicle_images?.length > 0 && item.vehicle_images[0].type == 1" src="{{ baseUrl }}{{ item.vehicle_images[0].video_image }}">
									<img *ngIf="item.vehicle_images?.length == 0" src="assets/images/nocarfound.png">
						</a>
					</div>
					<div class="txtbox">
						<div class="dflex">
							<div class="headwrpper">
								<div>
									<a [routerLink]="['/car-listing/car-edit', item.id]" href="javascript:void(0);">
										<p class="cardetail">
											<span class="fontlato">{{item.yearfrom}}</span> {{item.make.name | translate}} {{item.model.name | translate}} {{item.trim.name}} 
										</p>
									</a>

									<p class="countrytxt">{{item.country.name | translate}},{{item.city.name | translate}} | <span class="carprice">${{item.price}}</span> </p>
								</div>
							</div>

							<div class="navbar dropnav">
								<div class="dropdown">
									<a href="" aria-expanded="true" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown">
										<span class="sprite dot caret"></span>
										</a>

									<ul class="dropdown-menu" aria-labelledby="">
										<li>
											<a href="" [routerLink]="['/car-listing/car-edit', item.id]">
												<span class="sprite edit"></span>
												<span>{{ 'edit' | translate}}</span>
											</a>
										</li>
										<li>
											<a href="" (click)="deleteVehicle(item.id)" data-toggle="modal" data-target="#deletetagModal" data-backdrop="static">
												<span class="sprite delete"></span><span>{{'delete' | translate}}</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="aboutcar">

							<ul class="list-inline">
								<li class="list-inline-item">
									<span class="sprite usedcar"></span>
									<i class="fa fa-car"></i>
									{{ item.condition.name | translate }}
								</li>
								<li class="list-inline-item">
									<span class="sprite miles mr-2"></span>
									<i class="fa fa-dashboard"></i>
									<span class="fontlato">{{item.kilometer}}</span> {{ ((item.mileagetype ==
									'km') ? 'Kilometers' : 'Miles')  | translate}}
								</li>
								<li class="list-inline-item">
									<span class="sprite carcolor"></span>
									<i class="fa fa-paint-brush"></i>
									{{item.colors.name | translate}}
								</li>
								<li class="list-inline-item">
									<span class="sprite seats"></span>
									<i class="fa  fa-hand-stop-o"></i>
									<span class="fontlato">{{item.seat_id}}</span>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-info-circle"></i>
									<span class="sprite vin"></span><span class="fontlato">{{item.vin}}</span>
								</li>
							</ul>
						</div>

						<p class="txt14">
							{{item.description | excerpt:50}}
						</p>
					</div>
				</div>

			</div>
			<!--  -->
			<div *ngIf="searchData?.length == 0" class="detailcar">
				<div id="mainC">
					<div class="message">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="error-template text-center">
										<h1>
											{{ 'oops' | translate}}!</h1>
										<div class="error-details">
												{{ 'No Vehicle Found.' | translate}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <pagination-controls *ngIf="countSearch > 10" (pageChange)="currentPage = getServerData($event)" class="PaginationWrap"></pagination-controls> -->
		</div>
	</div>
</section>

<!-- Delete confirmation alert -->
<div class="modal userMessage fade" id="deletetagModal" #deletetagModal tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="m-body">
				<label>{{ 'alert' | translate }}</label>
				<p>{{ 'Are you sure you want to delete this vehicle?' | translate }}</p>
			</div>
			<div class="text-center">
				<button class="blueBtn" (click)="checkRmVehicle(true)">{{ 'ok' | translate}}</button>
				<button class="greyBtn" #closetagBtn id="delete-node" (click)="checkRmVehicle(false)" data-dismiss="modal">
					{{ 'cancel' | translate}}</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete confirmation alert -->