<!-- forgot Modal -->
<div class="modal modalPos fade" id="otpModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <div class="mb-4">
                    <button #closeOtp type="button" class="close closebtn" data-dismiss="modal" (click)="closeForm(f);">
                    <span class="sprite cross"></span>
                </button>
                </div>
                <h2 class="title text-center mb-4 text-uppercase">{{ 'enterOTP' | translate}}</h2>
                <p class="text-center txt14">
                    {{ 'enterOTPText' | translate}}<br> {{ userMail }}
                </p>

                <div class="formwrap">

                    <form class="seminor-login-form" #f="ngForm" [formGroup]="otpForm" (ngSubmit)="otpForm.valid && otpSubmit(otpForm.value,f);">
                        <div class="form-group">
                            <input type="tel" class="form-control" (keypress)="numOnly($event)" [formControl]="otpForm.controls['otp']"  required autocomplete="off" pattern="[0-9]*" placeholder="{{ 'enterOTP' | translate}}">
                            <label for="" class="sr-only">{{ 'OTP' | translate}}</label>
                            <p class="errorMessage" *ngIf="(otpForm.controls['otp'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterOTP' | translate}}</p>
                            <p class="errorMessage" *ngIf="(otpForm.controls['otp'].hasError('pattern') && f.submitted)" style="color:red">*{{ 'errorSizeOTP' | translate}}</p>
                        </div>
                        <div class="btn-check-log form-group">
                            <button type="submit" class="btn btnlogin btn-block">
                                <span *ngIf="!isloader">{{ 'send' | translate}}</span>
                                <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                        <div></div>
                                        <div></div>
                                </div>
                            </button>
                            <p class="otpPara1 padTop30"><a (click)="resend()">{{ 'resendcode' | translate}} {{ (countDown != null) ? (countDown | async) : '59' }} {{ 'secs' | translate}}</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forgot Modal -->
<a href="javascript:void(0)" #chngePwd style="display: none;" class="dropdown-item" data-target="#resetpwd" data-toggle="modal" data-backdrop="static" ></a>