<section class="main-section">
    <div class="">
        <div class="text-center contentWrap banner-wrapper">
            <h4 class="mb-4 contentheading">{{ 'HOME.BANNER' | translate }}</h4>
            <form #f="ngForm" [formGroup]="addHomeForm" (ngSubmit)="addHomeForm.valid && searchCarData(addHomeForm.value,f);" novalidate="false">
                <ul class="home-tabs mb-4">
                    <li [ngClass]="{'active': isNewCars}" (click)="isActiveTab()" class="left " data-tabs="newCars">{{ 'MENU.NewCars' | translate }}</li>
                    <li data-tabs="usedCars" [ngClass]="{'active': !isNewCars}" (click)="isActiveTab()" class="right">{{ 'MENU.UsedCars' | translate }}</li>
                </ul>

                <!-- display only in lg  -->
                <div class="searchbar row ">
                    <div class="input-group borderoutside col-lg-10 px-lg-0">
                        <div class="col px-0 slctbox">
                            <select name="make_id" class="form-control fslct" [formControl]="addHomeForm.controls['make_id']" (change)="getAllModels($event.target.value)">
                                <option value="" default >{{ 'CarMake' | translate }}</option>
                                <option *ngFor="let data of makes; let i = index;" value="{{ data.id }}">
                                        {{ data.key | translate }}
                                </option>
                            </select>
                        </div>
                        <div class="col px-0 slctbox">
                            <select name="model_id" class="form-control" [formControl]="addHomeForm.controls['model_id']">
                            <option value="" default >{{ 'CarModel' | translate }}</option>
                            <option *ngFor="let modelData of models" value="{{modelData.id}}">{{modelData.name | translate}}</option>
                        </select>
                        </div>
                        <div class="col px-0 slctbox">
                            <select name="country_id" class="form-control" [formControl]="addHomeForm.controls['country_id']" (change)="getAllCities($event.target.value)" [(ngModel)]="searchObj.country_id">
                                    <option value="" default >{{ 'Country' | translate }}</option>
                                    <option *ngFor="let data of countries; let i = index;" value="{{ data.id }}">
                                            {{ data.key | translate }}
                                    </option>
                                </select>
                        </div>
                        <div class="col px-0 slctbox">
                            <select name="city_id" class="form-control rslct" [formControl]="addHomeForm.controls['city_id']" [(ngModel)]="searchObj.city_id">
                                    <option value="" default >{{ 'City' | translate }}</option>
                                    <option *ngFor="let cityData of cities" value="{{ cityData.id }}">
                                        {{ cityData.key | translate }}
                                    </option>
                                </select>
                        </div>
                    </div>

                    <div class="col px-0 col-lg-2">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary btnred d-flex justify-content-center">
                                <span class="searchsign mr-2 sprite" *ngIf="!isloader"></span>
                                <span *ngIf="!isloader">{{ 'search' | translate }}</span>
                                <span *ngIf="isloader">
                                    <div style="color: #fff" class="la-ball-clip-rotate-multiple">
                                        <div></div>
                                        <div></div>
                                    </div>
                                </span>
                            </button>
                        </div>
                    </div>

                </div>
            </form>
            <!--  -->
            <div class="text-right advance">
                <a routerLink="/advance-search" routerLinkActive="active">{{ 'HOME.ADVANCEDSEARCH' | translate }} </a>
            </div>
        </div>
    </div>
</section>

<section class="contentbg ">
    <div class="container">
        <!--  -->
        <div class="text-center">
            <div class="content">
                <h3 class="text-uppercase txtheading">{{ 'HOME.SLIDERHEAD' | translate }}</h3>
                <p>{{ 'HOME.SLIDERSUBHEAD' | translate }}</p>
            </div>

            <!--  -->
            <div class="row navigation MobVeiw">
                <div id="carCarousel" class="carousel slide w-100" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carCarousel" data-slide-to="1"></li>
                        <li data-target="#carCarousel" data-slide-to="2"></li>
                        <li data-target="#carCarousel" data-slide-to="3"></li>
                        <li data-target="#carCarousel" data-slide-to="4"></li>
                        <li data-target="#carCarousel" data-slide-to="5"></li>
                    </ol>

                    <div class="carousel-inner py-3" role="listbox">
                        <div class="carousel-item active">
                            <div class="AboutService">
                                <div class="thumbnail active">
                                    <div class="thumbnail-img">
                                        <span class="sprite oil"></span>
                                    </div>
                                    <h4 class="thumbnail-title">{{ 'HOME.OILCHANGES' | translate }}</h4>
                                    <p>
                                            {{ 'HOME.LOREMIPSUMSLIDE1' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="AboutService">
                                <div class="thumbnail">
                                    <div class="thumbnail-img">
                                        <span class="sprite air"></span>
                                    </div>
                                    <h4 class="thumbnail-title">{{ 'HOME.AIRCONDITON' | translate }}</h4>
                                    <p>
                                            {{ 'HOME.LOREMIPSUMSLIDE2' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="AboutService">
                                <div class="thumbnail">
                                    <div class="thumbnail-img">
                                        <span class="sprite electric"></span>
                                    </div>
                                    <h4 class="thumbnail-title">{{ 'HOME.AUTOELECTRIC' | translate }}</h4>
                                    <p>
                                            {{ 'HOME.LOREMIPSUMSLIDE3' | translate }}
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="AboutService">
                                <div class="thumbnail">
                                    <div class="thumbnail-img">
                                        <span class="sprite break"></span>
                                    </div>
                                    <h4 class="thumbnail-title">{{ 'HOME.BRAKESERVICE' | translate }}</h4>
                                    <p>
                                            {{ 'HOME.LOREMIPSUMSLIDE4' | translate }}
                                        </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="AboutService">
                                <div class="thumbnail">
                                    <div class="thumbnail-img">
                                        <span class="sprite transmission"></span>
                                    </div>
                                    <h4 class="thumbnail-title">{{ 'HOME.TRANSMISSION' | translate }}</h4>
                                    <p>
                                            {{ 'HOME.LOREMIPSUMSLIDE5' | translate }}
                                        </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="AboutService">
                                <div class="thumbnail">
                                    <div class="thumbnail-img">
                                        <span class="sprite tyre"></span>
                                    </div>
                                    <h4 class="thumbnail-title">{{ 'HOME.TIRE&WHEELSERVICE' | translate }}</h4>
                                    <p>
                                        {{ 'HOME.LOREMIPSUMSLIDE6' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--  -->

            <div class="services">
                <div class="row">
                    <div class="col-lg-4 col-md-6 AboutService">
                        <div class="thumbnail active">
                            <div class="thumbnail-img">
                                <span class="sprite oil"></span>
                            </div>
                            <h4 class="thumbnail-title">{{ 'HOME.OILCHANGES' | translate }}</h4>
                            <p>
                                {{ 'HOME.LOREMIPSUMSLIDE1' | translate }}
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-lg-4 col-md-6 AboutService">
                        <div class="thumbnail">
                            <div class="thumbnail-img">
                                <span class="sprite air"></span>
                            </div>
                            <h4 class="thumbnail-title">{{ 'HOME.AIRCONDITON' | translate }}</h4>
                            <p>
                                {{ 'HOME.LOREMIPSUMSLIDE2' | translate }}
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-lg-4 col-md-6 AboutService">
                        <div class="thumbnail">
                            <div class="thumbnail-img">
                                <span class="sprite electric"></span>
                            </div>
                            <h4 class="thumbnail-title">{{ 'HOME.AUTOELECTRIC' | translate }}</h4>
                            <p>
                                {{ 'HOME.LOREMIPSUMSLIDE3' | translate }}
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-lg-4 col-md-6 AboutService">
                        <div class="thumbnail">
                            <div class="thumbnail-img">
                                <span class="sprite break"></span>
                            </div>
                            <h4 class="thumbnail-title">{{ 'HOME.BRAKESERVICE' | translate }}</h4>
                            <p>
                                {{ 'HOME.LOREMIPSUMSLIDE4' | translate }}
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-lg-4 col-md-6 AboutService">
                        <div class="thumbnail">
                            <div class="thumbnail-img">
                                <span class="sprite transmission"></span>
                            </div>
                            <h4 class="thumbnail-title">{{ 'HOME.TRANSMISSION' | translate }}</h4>
                            <p>
                                {{ 'HOME.LOREMIPSUMSLIDE5' | translate }}
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-lg-4 col-md-6 AboutService">
                        <div class="thumbnail">
                            <div class="thumbnail-img">
                                <span class="sprite tyre"></span>
                            </div>
                            <h4 class="thumbnail-title">{{ 'HOME.TIRE&WHEELSERVICE' | translate }}</h4>
                            <p>
                                {{ 'HOME.LOREMIPSUMSLIDE6' | translate }}
                            </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- latest design about cars  -->
        <div class="Details">
            <div class="bottom-detail-wrapper">
                <div class="bottom-content-box">
                    <div class="text-md-left text-sm-center">
                        <div>
                            <h3 class="heading">
                                {{ 'HOME.SEARCHCARBYVIN' | translate }}                            
                            </h3>
                        </div>
                    </div>
                    <div class="desc-wrapper">
                        <div>
                            <p>
                                {{ 'HOME.SEARCHCARBYVINTEXT' | translate }}
                            </p>
                        </div>
                        <!-- <div class="appwrap mb-3">
                            <h3 class="heading">{{ 'HOME.GETFIRSTUNIONAUTOAPP' | translate }}</h3>
                            <div class="btngrp">
                                <a href="" class="btn p-0 playstore"></a>
                                <a href="" class="btn p-0 appstore"></a>
                            </div> 
                        </div>-->
                    </div>
                </div>
                <div class="mobileimg">
                    <img src="assets/images/mobile.png">
                </div>
            </div>
        </div>
        <!-- end of latest design about cars-->
    </div>
</section>