.main-section {
    /*min-height: 400px;*/
    -webkit-box-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    background:url('assets/images/bg.png') no-repeat;
    background-size: 100% 100%;
    padding: 165px 0 200px;
    margin-bottom: 42px;
}
.main-section .banner-wrapper{
    max-width:945px;
    width:100%;
    margin:0 auto;
    padding:0 15px;
}

.sprite {
    background: url('assets/images/Spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.contentWrap{
        margin: 0 auto;
    width: 100%;
}
.contentWrap h4{
    color: #fff;
    font-size: 35px;
    font-family: 'Raleway';
    font-weight: bold;
    text-transform:uppercase;
}

.outerDivFull { margin:50px; } 


.home-tabs {
    background: rgba(0,0,0,.2);
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #fff;
}

li.active.right {
    border-radius: 0px 20px 20px 0px;
}

li.active.left {
    border-radius: 20px 0px 0px 20px;
}


.home-tabs li {
    display: inline-block;
    padding: 5px 25px;
    font-size: 16px;
    cursor: pointer;
    list-style: none;
    color: #fff;
}
.home-tabs li.active {
    background: #fff;
    color: #666;
    cursor: default;
}
.home-tabs ul{
    margin-bottom: 0;
}
.playstore{
    background: url('assets/images/playstore.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 50px;
}
.appstore{
    background: url('assets/images/appstore.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 50px;
}
.bottom-detail-wrapper{
    position:relative;
    padding-bottom:60px;
}
/*serchbox*/
.mobileimg{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 370px;
    width:100%;
}

.slctbox{
    position: relative;
}
.slctbox:after {
    background: url('assets/images/Spritesheet.png');
    background-position:-40px -24px;
    width: 12px;
    height: 6px;
    content: '';
    right: 11px;
    top: 18px;
    position: absolute;
    pointer-events: none;
}
.arrow{
    background-position:-40px -24px;
    width: 12px;
    height: 6px;
}

.searchbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;
    border-radius: 22px;
    width: 100%;
    margin: 0 auto;
}

.btnred {
    background-color: #ff4243;
    border-color: #ff4243;
    border-radius: 0px 16px 16px 0px;
    width: 100%;
}
/*.fslct{
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}
*/
.searchsign{
    background-position:-123px -17px;
    width: 20px;
    height: 21px;
}



.advance a{
    color: #fff;
    text-decoration: underline;
    color: #fff;
    text-decoration: underline;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 16px;
}

.form-group{
    margin-bottom: 0;
}

.form-control{
    border-radius: 0;
        border-radius: 0;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    color: #4e5761;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.contentbg .content{
    margin-bottom: 94px;
}


.txtheading{
    color: #3e4953;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 30px;
}

.AboutService .thumbnail{
    background-color: #fff;
    padding: 10px;
    border-top: 2px solid #ff3b3d;
}

.AboutService .thumbnail.active , .AboutService .thumbnail:hover{
    
}

.thumbnail-img{
   width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ff3b3d;
    margin: 0 auto;
    margin-top: -50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.thumbnail-title{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway';
    color: #3e4953;
    text-transform: uppercase;margin-bottom: 0;
}



.thumbnail p{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Raleway';
    padding: 12px 0 24px;
    margin-bottom: 0;
    line-height: 24px;
}

.oil {
    background-position: -157px -21px;
    width: 63px;
    height: 27px;
}


.air {
    background-position: -246px -16px;
    width: 50px;
    height: 37px;
}

.electric {
    background-position:-323px -14px;
    width: 40px;
    height: 41px;
}

.break {
    background-position: -390px -15px;
    width: 56px;
    height: 38px;
}

.transmission {
    background-position: -475px -10px;
    width: 49px;
    height: 49px;
}

.tyre {
    background-position: -548px -10px;
    width: 49px;
    height: 49px;
}

.Details h3.heading {
    color: #3e4953;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 28px;
    text-transform: capitalize;
    line-height: 42px;
    margin-bottom: 18px;
}

.AboutService{
    margin-bottom: 100px;
}

/*home page tablet(md) serach  bar*/
.tabveiw button.btnred{
 
    border-radius: 16px;
}

.tabveiw .searchbar .input-group div.slctbox select.form-control.lslct{
    border-radius: 0px 16px 16px 0px !important;
}
/**/
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.MobVeiw .carousel-indicators li {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: 1px solid #6f767d;
    border-radius: 50%;
}

.MobVeiw .carousel-indicators .active {
background: #6f767d;
}

.MobVeiw{
    display: none;
}
.f-basis{
    flex-basis: 100%;
}
.f-basis p{font-size: 14px;margin-bottom: 0;font-weight: 500;font-family: 'Raleway';line-height: 23px;}

.bottom-detail-wrapper .bottom-content-box{
    max-width:605px;
    width:100%;
}
@media only screen and (max-width: 1199px) {
    .bottom-detail-wrapper .bottom-content-box{
        max-width: 450px;
    }
}
@media only screen and (max-width: 991px) {
    .borderoutside{
        background-color: rgba(0, 0, 0, 0.7);
  padding: 6px;
  border-radius: 22px;
}  
.rslct{
  border-radius: 0px 16px 16px 0px;
}
.searchbar{
  background-color: transparent;
}
 button.btn.btn-secondary.btnred{
  margin-top: 10px;
  width: 50%;
  margin: 15px auto 0 auto;
  border-radius: 16px;
}

    .bottom-detail-wrapper{
        overflow:hidden;
    }
    .bottom-detail-wrapper .bottom-content-box{
        max-width: 600px;
        
    }
    .bottom-detail-wrapper .desc-wrapper{
        max-width: 400px;
        width:100%;
    }
    .mobileimg{
        max-width: 275px;
        bottom:-14px;
    }
    .main-section{
        padding: 70px 0 60px;margin-bottom: 30px;
    }
    .thumbnail p{
        padding: 12px 0 18px;    line-height: 22px;
    }
    .Details h3.heading{
            font-size: 26px;    line-height: 38px;margin-bottom: 15px;
    }
    .AboutService {
    margin-bottom: 70px;
}
}
@media only screen and (max-width: 767px) {
    .borderoutside{
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }
    button.btn.btn-secondary.btnred{
        width: 100%;margin-top: 0;
    }
    .text-right.advance {
        margin-top: 4%;
    }
    .contentWrap div.searchbar{
        padding: 0 18px;
    }
    .bottom-detail-wrapper .desc-wrapper{max-width: 100%;}

    .btngrp {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    }
   
    .AboutService {
    margin-bottom: 25px;
    }
    .carousel{margin-bottom: 20px;}
    .contentbg .content{
        margin-bottom: 20px;
    }
    .bottom-detail-wrapper{
        padding-bottom: 15px;
    }
    .carousel-inner{
        padding: 20px;
    }
    .btngrp a.playstore , .btngrp a.appstore{
        width: 180px; height: 48px;
    }

}

@media only screen and (max-width: 600px) {
    .contentWrap .home-tabs li{
        padding: 5px 12px;
    }
   .btngrp {
    width: 100%;
   }
    
    .main-section{
    padding: 45px 0 20px;
    margin-bottom: 20px;
        background-size: cover;
    background-position: 50% 50%;

    }
   
    .Details h3.heading {
    font-size: 28px;
    line-height: 36px;
    }

    .appwrap h3.heading{
            font-size: 24px;
    line-height: 35px;
    }

    .btngrp a.playstore , .btngrp a.appstore{
        width: 140px; height: 48px;
    }
    .contentWrap h4{font-size: 22px;}
    .form-control{font-size: 14px;}  
}
.la-ball-clip-rotate-multiple{
    height: 24px !important;
    }


    /*arbic*/