.container-fluid.custcontainer{max-width: 1350px;}
.footerbtm {
    position: relative;
    padding: 1px 0;
    background-color: #323434; 
    margin: 0;
    color: #fff;
}
.flex{
    display: -webkit-box;   
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;     
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
footer p{
	margin-bottom: 0;

}
.footerbtm nav ul.nav{
    width: 100%;
    max-width: 550px;
}
.footerbtm nav ul li{width: 25%;}
.footerbtm nav ul li a{width: 100%;}
.footerbtm li a , footer p{
	color: #fff;
	font-size: 14px;
    font-weight: 600;
    font-family: 'Raleway';
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
     
}
@media only screen and (max-width: 991px){
    .footerbtm nav{
        flex-direction: column;
    }
    .footerbtm nav ul{
        display: -webkit-box;   
        display: -moz-box;        
        display: -ms-flexbox;  
        display: -webkit-flex;     
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .footerbtm nav ul{text-align: center;}
    .footerbtm nav ul.nav{max-width: 720px!important;}
   
}
@media only screen and (max-width: 767px) {
    .footerbtm nav ul.nav{max-width: 600px!important;}
    .footerbtm nav ul li{width: 33%;text-align: left;}
}
@media only screen and (max-width: 600px) {
    .footerbtm nav ul li.nav-item {
    width: auto;
    }
}
@media only screen and (max-width: 480px) {}