<footer>
    <div class="footerbtm">
        <div class="container-fluid custcontainer">
            <nav role="navigation" class="flex  navbar-expand">
                    <!--<ul class="navbar-nav nav">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/" routerLinkActive="active"> {{ 'FOOTER.Home' | translate }} </a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" routerLink="/listing/used-listing" [queryParams]="{condition_id:2}" routerLinkActive="active">{{ 'FOOTER.UsedCars' | translate }}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/listing/new-listing" [queryParams]="{condition_id:1}" routerLinkActive="active">{{ 'FOOTER.NewCars' | translate }}</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/abc">
                        {{ 'FOOTER.QUESTIONS' | translate }}
                        </a>
                        </li>   
                    </ul>-->
                    <p> &copy; <span class="fontlato">{{ crntYear }}</span> Anhaj, Inc.,{{ 'FOOTER.COPYRIGHTS' | translate }} </p>
            </nav>    
        </div>
    </div>
</footer>