<!-- <section class="content-section">
    <div class="main-section">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="no-result">
                                <div id="mainC">
                                    <div class="message">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="error-template text-center">
                                                        <h1>
                                                            Oops!</h1>
                                                        <h2>
                                                            404 Not Found</h2>
                                                        <div class="error-details">
                                                            Sorry, an error has occured, Requested page not found!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
       
    </div>
</section> -->
<section class="content-section sectionWrap">
    <div class="main-section">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="no-result">
                                <div id="mainC">
                                    <div class="message">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="error-template text-center">
                                                        <h1>
                                                            {{'oops' | translate}}!</h1>
                                                        <div class="error-details">
                                                            <h2>{{'Requested page is under development,' | translate}}</h2>
                                                            {{'The content of this page will be updated in upcoming sprint.' | translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
       
    </div>
</section>