.selectbox:after {
    background: url('/assets/images/Spritesheet.png');
    background-position: -40px -24px;
    width: 12px;
    height: 6px;
    content: '';
    right: 28px;
    top: 40px;
    position: absolute;
    pointer-events: none;
}
/*.btnsubmit{
    background-color: #ff3b3d;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 4px 14px;
    font-family: 'Raleway';
    font-weight: 500;
    width: 15%;
    margin: 0 auto;
}*/
p.sellcar{
    color: #46505b;
    margin-bottom: 0;
}
.uplodblock input[type=file]::-webkit-file-upload-button{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
        width: 100%;
    height: 100%;
}
.uplodblock{
    position:relative;
    display:inline-block;    
    border-radius:8px;
    border:#ebebeb solid 1px; 
    background: #d3d3d3;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}
.camera {
    background-position: -724px -80px;
    width: 38px;
    height: 30px;
    display: block;
    position: absolute;
    left: calc(90px - 64px);
    top: calc(90px - 62px);

}
.uploaded{
        width: 90px;
    height: 90px;
    border: 1px solid red;
    display: inline-block;
    margin-bottom: 10px;

}
.editImages{
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
}
.multipleImageWrap{display: inline-block;}
.crossbtn{
        position: absolute;
    right: 0px;
    top: 0px;
    height: 24px;
    width: 24px;
}
.fullImg{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
.uplodblock.divImagesWrap {
    display: inline-block;
    margin-right: 10px;
    float: left;
}
/*.uplodblock input[type=file]::-webkit-file-upload-button {
  border: 1px solid #d3d3d3;
  width:150px;
  height: 150px;
}*/


.formlbl{
    color: #3e4953;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
    .innerboxWrap{
        width: 100%;
    }
    .userMessage .modal-dialog{top: 10%;}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    .txt30{
        font-size: 28px;
    }
    .row50 {width: 62%;}
    .userMessage .modal-content{padding: 20px !important;}
    .userMessage .modal-dialog{ max-width: 500px;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .txt30{
        font-size: 22px;
    }
    .btnsubmit{
        width: 30%;
    }
    ::-webkit-input-placeholder{
        font-size: 14px;
    }
    .userMessage .modal-dialog{ max-width: 300px !important;    margin: 0 auto;}
    .bidDetailDiv .greyBtn, .userMessage .greyBtn, 
    .bidDetailDiv .blueBtn, .userMessage .blueBtn{
        width: 110px !important;
        font-size: 14px !important;
    }
}

/******************Alert Modals**************************/

.bidDetailDiv .greyBtn,
.userMessage .greyBtn {
    background: #8a8a8a none repeat scroll 0 0;
}

.bidDetailDiv .greyBtn,
.userMessage .greyBtn,
.bidDetailDiv .blueBtn,
.userMessage .blueBtn{
    border: medium none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'Raleway';
    font-weight: 600;
    outline: none;
}

.bidDetailDiv .blueBtn,
.userMessage .blueBtn {
    background: #ff3f3e none repeat scroll 0 0;
}

/*---------User Message Modal-------------*/

.userMessage .modal-dialog {
    max-width: 550px;
    width: 100%;
    top: 20%;
}

.userMessage .modal-content {
    padding: 30px 30px;
}

.userMessage label {
    text-transform: uppercase;
    color: #000;
    font-family: inherit;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
}

.userMessage label,
.userMessage textarea {
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}

.userMessage textarea {
    border: none;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    margin-bottom: 85px;
    height: 28px;
}

.userMessage .textWrap {
    position: relative;
}

.userMessage .textWrap:after {
    content: "";
    z-index: 1;
    position: absolute;
    right: -3px;
    bottom: 1px;
    width: 17px;
    height: 16px;
    background: url('/assets/images/note-icon.png');
}

.userMessage .blueBtn {
    margin-right: 15px;
}
