
/* ****new*********** */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	
.MobVeiw{
    display: none;
	}

	.redblock tag.ng-tns-c6-0.ng-trigger.ng-trigger-animation.ng-star-inserted {line-height: 32px!important;}
}


@media only screen and (max-width: 1024px) {
	
	.innerboxWrap {
    width: 90%;}
    .navbar .navbar-nav li.nav-item, .nav > ul.languagelist > li{
    	padding: 0 4px !important;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px) {
	body {
	background-color: #fff;
	}
	.modal-dialog {
	margin-top: 12%;
	}
	.modalPos h2.title{
		margin-bottom: 20px;
	}
	.modalPos .formwrap{margin-bottom: 18px;}
	#forgotModel .subtxt{    margin: 14px 0 24px 0;}

	.navbar-header.nav.navright{
		width: auto!important;
	}
	header .sidenav ul.navbar-nav{
		flex-direction: column;
	}
	header .nav-item span.sprite{
		display: inline-block!important;
		margin-right: 12px;
	}
	header .sidenav ul.navbar-nav li{
		display: -webkit-box;   
		display: -moz-box;        
		display: -ms-flexbox;  
		display: -webkit-flex;     
		display: flex;            
		align-items: baseline;
		margin-bottom: 5px;
		padding: 5px 10px !important;
		width: 100%;
	}

	header .navbar{
		/*flex-direction: row-reverse;    */
		justify-content: end;
		padding: 0;
		margin-left: auto;
		min-height: 45px;
		height: 50px;
		display: flex;
		display: -webkit-box;   
		display: -moz-box;        
		display: -ms-flexbox;  
	}

	.navbar-toggler {
       z-index: 17;  border: none;    position: relative;    padding-right: 0;
	}

	.sidenav{
    z-index: 16;
    background: #fff;
    position: fixed;
    right: 0;
    width: 320px;
    height: 100vh;
    top: 0;
    overflow: auto;
    /*padding: 2%;*/
    padding-top: 6%;
    border-left: 1px solid rgba(0,0,0,.15);
	}
	.sidenav .navbar-nav li a.nav-link.btnsign , 
	.sidenav .navbar-nav .bhide div.dropdown{
		width: 70% !important;
		margin: 0 auto
	}
	li.bhide ul.dropdown-menu li.listinline ,
	li.bhide ul.dropdown-menu li.profilelist{
    padding: 5px 0px !important;
    width: 100%;}

	.sidenav .navbar-nav li.bhide a{width: 100%;}
	.navbar .nav-item, .navbar .languagelist li{
		padding: 0;
	}
	header .sidenav ul.navbar-nav li.nav-item:hover,
	header .sidenav ul.navbar-nav li.nav-item:focus,
	header .sidenav ul.navbar-nav li.nav-item.active{
	background-color: #dfdfdf;
	}
	.navbar-nav li a{
	width: 50%;
	margin: 0 auto;
    }


	header .sidenav ul li a.btn{
		padding: 6px 15px;
		border-radius: 20px;
	}
	header .sidenav ul li a.flag.btn , 
	header .sidenav ul li a.userProfile.btn{
	border-radius: 20px;
	border:1px solid  #4e5761;
	color: #4e5761;    
	padding: 6px 22px;
	width: 100%;
	justify-content: center;
	}

	.bhide div.dropdown{
		width: 100%;
	}
	.AboutService .thumbnail{
		border: 1px solid #ece7e7;    
		border-top: 2px solid #ff3b3d;
	}
	.main-section{
		padding: 5% 0; 
	}
	
	
	.row.navigation.MobVeiw {
    display: none;
	}

	ul.languagelist li.nav-item{
	margin-right: 10px;
	}

	/*.navtoggle .dropdown-menu{
		left: -60%;
	}*/
	.Details h3.heading{
		font-size: 24px;
	}
	.innerboxWrap{
        width: 100%;
    }
    .nav > ul.languagelist > li{
    	    padding: 0 !important;
    }
    .navhead.navbar-light .navbar-nav .nav-item a:focus, 
    .navhead.navbar-light .navbar-nav .nav-item a:hover{color: unset;}


} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
	.body{background-color: #fff;    padding-top: 4.5rem;}
	.modalPos .modal-dialog {max-width: 500px;}
	.modalPos h2.title{font-size: 26px;margin-bottom: 15px;}
	#forgotModel h2.title{font-size: 26px;}
	.modalPos .formwrap{padding-bottom: 0;margin-bottom: 8px;}
	#forgotModel .subtxt {margin: 10px 0 20px 0;font-size: 16px;}


		header{
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 999;
			background-color: #fff;
		}

	
	div.sidenav ul li a.nav-link{
	font-size: 14px !important;
	}

	.bhide{
	display: block;
	}

	.navtoggle ul.languagelist{
	display: none;
	}
	.contentWrap div.searchbar {
	background-color: transparent;
	padding: 0;
	border-radius: 0;
	}

	.searchbar select.form-control{
	border-radius: 16px;
	margin-bottom: 4%;
	}

	.slctbox {
	flex: 0 0 100%;
	}

	.input-group-append button.btnred{
	border-radius: 16px 16px 16px 16px;
	}

	.contentbg .Details h3.heading{
	text-align: center;
	}

	p{
	text-align: center;
	}

	.sidenav .btnsign{
	width: 100%;
	justify-content: center !important;
	margin: 0 auto !important;
	}
	.MobVeiw .AboutService{
	margin-top: 8%;
	}

	.contentbg .content{
	margin-bottom: 0%;
	}

	.services , .mobileimg{
	display: none;
	}

	.contentbg  .MobVeiw{
	display: block !important;
	}

	li.profilelist div{
		padding: 0;
	}

	.f-basis .appwrap {
	text-align: center;    
	margin-bottom: 6%;
	}
	.ng5-slider .ng5-slider-bubble{
		font-size: 14px;
	}
	.msgflash .flash-messages .alert{
		width: 100%;
		position: fixed;
		top: 0;
	}
	.sectionWrap{margin-top: 24px;}

} 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
	body , .form-control{
		font-size: 14px;
	}
	.sidenav{
		width: 250px;padding-top: 10%;
	}
	.contentWrap{
	padding: 0;
	}

	/*
	.main-section div div.contentWrap h4.contentheading{
	font-size: 30px;
	margin-top: 10%;
	}*/
	.mobimg{
	display: none;
	}
	.Details h3.heading{
		font-size: 20px;
	}
	


	button.btn.btnsign.d-md-block.d-sm-none {
	display: none;
	}

	.modal div.formwrap {
	width: 100%;}

	
	header .sidenav ul li a.flag.btn, header .sidenav ul li a.userProfile.btn{
		width: 100%;padding: 10px;
	}

	.modalPos h2.title{font-size: 24px;}
	.formwrap input[type="checkbox"]{width: 15px;height: 15px;}
	.seminor-login-form .btn-check-log{margin: 15px 0 8px 0;}
	.modalPos .modal-content .txtgrey{font-size: 12px;}
	.modalPos .txt16{font-size: 14px;}
	.formwrap::-webkit-input-placeholder , .form-control::-webkit-input-placeholder,
	.formwrap::-moz-placeholder , .form-control::-moz-placeholder,
	.formwrap:-ms-input-placeholder ,  .form-control:-ms-input-placeholder,
	.formwrap:-moz-placeholder , .form-control:-moz-placeholder{
		font-size: 14px;
	}

	.formwrap .form-control , .formwrap .btnlogin , .formwrap p , .formwrap .txtgrey{
		font-size: 14px;    margin-bottom: 0
	}
	ul li .dropdown-divider{margin: 2px 0;}
	.bhide li.listinline a.dropdown-item {padding: 4px 10px;}
	header .sidenav ul.navbar-nav li{margin-bottom: 3px;}
	
	
	.sectionWrap {
    border-top: 3px solid #ff3b3d;
	}
	.btnsubmit {
    width: 50%;font-size: 14px;
	}
	.imgboxwrap .ngx-pagination li{margin: 0 auto;}
	.btncarousel {
		    top: -18px;
		    right: -7px;
		    width: 25px;
		    height: 25px;
		    color: #fff;
		    font-size: 23px;
	}
	.navbar-nav li a{width: 60%;}
	.sidenav .navbar-nav li a.nav-link.btnsign, 
	.sidenav .navbar-nav .bhide div.dropdown{width: 100% !important;}
	li.bhide ul.dropdown-menu li.profilelist{padding: 0px 8px!important;}
	} 
	
	@media only screen and (max-width: 480px) {
		.ngxcarousel .slick-slide img{height: 42px;}
		/* .mainCarousel .slick-slide img,.mainCarousel .slick-slide iframe{height: 230px;} */
		.mainCarousel .slick-slide img{height: auto;}
	}



	/**********************************arabic******************/
	@media only screen and (max-width: 1024px) {
		[dir=rtl] .bg-white{
			left: 0px;
			right: auto !important;
		}
		[dir=rtl] .filterimg{left: 2%;right: auto!important;}
	}
	/**/
	@media only screen and (max-width: 991px) {
	[dir=rtl] .sidenav{left: 0;right: auto!important;
		border-right: 1px solid rgba(0,0,0,.15);    border-left: 0px;}
	[dir=rtl] nav.navhead ul li a.nav-link{text-align: right;}
	[dir=rtl] .custcontainer nav p {text-align: center;}
	[dir=rtl] .languagelist li a.dropdown-toggle, 
	[dir=rtl] .rslct {border-radius: 16px 0px 0px 16px !important;}
	[dir=rtl] header .nav-item span.sprite {margin-left: 12px;margin-right: auto!important;}
	[dir=rtl] .navbar-toggler{padding-left: 0;padding-right:10px;}
	}

	@media only screen and (max-width: 767px){
		[dir=rtl] .VehicleDescription p, 
		[dir=rtl] .dealerwrap p, 
		[dir=rtl] .carouselbg p {text-align: right !important;}

		[dir=rtl] .dflex p, 
		[dir=rtl] .txtbox p, 
		[dir=rtl] .mylist .row50 p{
			text-align: right !important;
		}
		[dir=rtl] .rslct {border-radius: 16px!important;}		
		/*[dir=rtl] #testDerivelist .modal-body ul li::before{
			    margin-left: 10px;
			    margin-right: 0px;
		}
*/
	}