<section class="content-section sectionWrap">
    <div class="main-section">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="no-result">
                                <div id="mainC">
                                    <div class="message">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="error-template text-center">
                                                        <span>
                                                            <h1>
                                                                {{ content.name }}</h1>
                                                            <h4 *ngIf="content.content==null">No content available...</h4>
                                                            <div *ngIf="content.content!=null" class="error-details" [innerHTML]="content.content">
                                                            </div>
                                                        </span>
                                                        <span>
                                                        </span>                                                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>