<div class="Pagewrapper">
        <div class="Page" data-toggle="collapse" data-target=".sidenav.show" data-toggle="collapse">
                <div class="msgflash">
                        <ngx-flash-messages></ngx-flash-messages>   
                </div>
                <app-header></app-header>
                        <div class="Page-body" [@routerTransition]="getState(o)">
                                <router-outlet #o="outlet"></router-outlet>
                        </div>
                <app-footer *ngIf="showFooter"></app-footer>
        </div>
</div>