img {
    max-width: 100%;
    width: 100%;
}
 .selectbox{
    position: relative;
 }

   .selectbox:after {
    background: url('assets/images/Spritesheet.png');
    background-position: -40px -24px;
    width: 12px;
    height: 6px;
    content: '';
    right: 12px;
    top: 18px;
    position: absolute;
    pointer-events: none;
}
label.lbltxt {
    margin-bottom: 3px;
    color: #626262;
    font-size: 14px;
    font-family: 'Raleway';
}
.formwrapper .form-group {
    margin-bottom: 8px;
}

.btnsearch{
    background-color: #ff3b3d;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 4px 20px;
    font-family: 'Raleway';
    font-weight: 600;
    width: 50%;
}

a.clrfltr{
    color: #444444;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}


select.form-control{
    color: #1f1f1f;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: capitalize;
}
.resulthead{
        color: #576069;
    font-family: 'Raleway';
    font-weight: 600;
}


.imgboxwrap{
    text-align: center;
}

.imgboxwrap .thumnailwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row;*/
    flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #eeee;
    margin-bottom: 25px;
    padding: 10px;
}

.imgboxwrap .thumnailwrap .childbox{
    flex: 1;
    margin-right: 2%;
}

.imgboxwrap .thumnailwrap .txtbox{
   width: 70%;
   text-align: left;
}
.cardetail{
        color: #1f1f1f;
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 16px;
}
.carprice{
    font-family: 'Lato';color: #ff3b3d;font-weight:600;font-size: 16px;
}
p.countrytxt{
    color: #1f1f1f;
    font-size: 14px;
}

.usedcar{
    background-position: -50px -78px;
    width: 21px;
    height: 17px;
}
.miles{
    background-position: -83px -81px;
    width: 23px;
    height: 12px;
}
.carcolor{
    background-position:-117px -79px;
    width: 20px;
    height: 16px;
}
.seats{
    background-position: -148px -77px;
    width: 14px;
    height: 17px;
}
.aboutcar ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutcar ul li{
    margin-right: 5%;
    font-weight: 600;
    font-family: 'Raleway';
    color: #1f1f1f;
    font-size: 14px;
}

.aboutcar .txt14{
font-size: 14px;color: #565657;
font-family: 'Raleway';
margin-bottom: 0;
}

.txtbox .dflex{
    display: flex;
    justify-content: space-between;
        align-items: baseline;
}

.filterimg{
    display: none;
}
.formwrapper.bg-white{
    padding: 10px;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .cardetail{
           font-size: 18px;
    }
}

@media only screen and (max-width: 1024px) {
    .innerboxWrap{
        width: 100%;
    }

  .bg-white {
        position: fixed;
        right: 0px;
        z-index: 18;
        height: 100vh;
        overflow: auto;
        top: 0px;
        width:35%;
        border: 1px solid #dadada;
        border-radius: 6px;

    }
    
    .filterimg{
    background-position:-261px -130px;
    width: 72px;
    height: 72px;
    position: fixed;
    right: 2%;
    bottom: 20%;
    z-index: 19;
    display: block;
    }

    .overlay{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    }
.txtbox .dflex{
    flex-direction: column;
}


.imgboxwrap .thumnailwrap{
    margin-bottom: 20px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
    
  
    .aboutcar ul li{
        width: 50%;
        margin-right: 0;
        margin-bottom: 12px;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    .imgboxwrap .thumnailwrap{
        flex-direction: column;
    }
    .imgboxwrap .thumnailwrap .childbox, .imgboxwrap .thumnailwrap .txtbox{
        margin-right: 0;width: 100%;
    }
    .innerboxWrapfinnerboxWrap p{
        text-align: left;
    }

    .txtbox .dflex{
        margin-bottom: 12px;
    }
    
    p.cardetail{
        font-size: 18px !important;
    }
    .bg-white{
              width: 90%;
    margin: 5%;
    top: 8%;
    overflow-y: auto;
    height: 80vh;
    }
    label.lbltxt,select.form-control{
        font-size: 14px;
    }
    .form-group{
        margin-bottom: 6px;
    }
    .aboutcar ul li{
        width: 50%;
    }
    label.lbltxt{margin-bottom: 2px;}
    .aboutcar ul li , p.country{
    font-size: 14px;
}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

