<!-- <div class="col-xl-4" *ngIf="show"> -->
	<div class="formwrapper bg-white">
		<form #f="ngForm" [formGroup]="addSearchForm" (ngSubmit)="addSearchForm.valid && searchCarData(addSearchForm.value,f);" novalidate="false">
			<!-- year range -->
			<div class="form-group">
				<label class="lbltxt">{{ 'yearRange' | translate }}</label>
				<div class="d-flex justify-content-between align-items-center">
					<div class="selectbox col-5 px-0 selectbox">
						<select name="yearfrom" [formControl]="addSearchForm.controls['yearfrom']" [(ngModel)]="searchnewobj.yearfrom"  #year (change)="setYeatTo(year.value)" class="form-control fontlato">
							<option value="" default>{{ 'FILTERSEARCH.YearFrom' | translate }}</option>
							<option *ngFor="let year of year_from" value="{{year.name}}" >{{ year.name }}</option>
						</select>
					</div>

					<div class="">
						<span class="">To</span>
					</div>
					
					<div class="selectbox col-5 px-0 selectbox">
						<select name="yearto" [formControl]="addSearchForm.controls['yearto']" [(ngModel)]="searchnewobj.yearto" class="form-control fontlato" #yearTo (change)="setMakes(year.value, yearTo.value)">
							<option value="" default>{{ 'FILTERSEARCH.YearTo' | translate }}</option>
							<option *ngFor="let year of year_to | yearArray : 0 :'forth'" value="{{year}}" >{{ year }}</option>							
						</select>
					</div>					
				</div>
				<p *ngIf="addSearchForm.controls['yearto'].errors?.getYearTo" class="errorUptoYear">*{{'errorUptoYear' | translate}}</p>
			</div>
			<!-- car make -->
			<div class="form-group">
				<label class="lbltxt">{{ 'CarMake' | translate }}</label>
				<div class="selectbox">
					<select name="make_id" #makeId class="form-control" [formControl]="addSearchForm.controls['make_id']" [(ngModel)]="searchnewobj.make_id" (change)="getAllModels($event.target.value)">
						<option value="" default >{{ 'CarMake' | translate }}</option>
						<option *ngFor="let data of makes; let i = index;" value="{{ data.id }}">
								{{ data.key | translate }}
						</option>
					</select>
				</div>
			</div>
			<!-- car model -->
			<div class="form-group">
				<label class="lbltxt">{{ 'CarModel' | translate}}</label>
				<div class="selectbox">
					<select name="model_id" [formControl]="addSearchForm.controls['model_id']" [(ngModel)]="searchnewobj.model_id" class="form-control" (change)="getAllTrims(makeId.value,$event.target.value)">
            			<option value="" default>{{ 'CarModel' | translate }}</option>
            			<option *ngFor="let modelData of models" value="{{modelData.id}}">{{ modelData.name | translate}}</option>
        			</select>
				</div>
			</div>
			<!-- car model -->
			<div class="form-group">
				<label class="lbltxt">{{'trims' | translate}}</label>
				<div class="selectbox">
					<select name="trim_id" [formControl]="addSearchForm.controls['trim_id']" [(ngModel)]="searchnewobj.trim_id" class="form-control">
						<option value="" default>{{'trims' | translate}}</option>
						<option *ngFor="let trimData of trim" value="{{trimData.id}}">{{trimData.name}}</option>
					</select>
				</div>
			</div>				
			<!-- country -->
			<div class="form-group">
				<label class="lbltxt">{{ 'Country' | translate }}</label>
				<div class="selectbox">
					<select #country_id [formControl]="addSearchForm.controls['country_id']" name="country_id" class="form-control" (change)="getAllCities(country_id.value, true);" [(ngModel)]="searchnewobj.country_id">
					<option value="" default>{{ 'Country' | translate }}</option>
					<option *ngFor="let data of countries; let i = index;" value="{{ data.id }}">
					{{ data.key | translate}}
					</option>
					</select>
				</div>
			</div>
			<!-- city -->
			<div class="form-group">
				<label class="lbltxt">{{ 'City' | translate }}</label>
				<div class="selectbox">
					<select name="city_id" [formControl]="addSearchForm.controls['city_id']" [(ngModel)]="searchnewobj.city_id" class="form-control" >
                		<option value="" default>{{ 'City' | translate }}</option>
                		<option *ngFor="let cityData of cities" value="{{ cityData.id }}">
                    		{{ cityData.key | translate}}
                		</option>
        			</select>
				</div>
			</div>
			<!-- condition -->
			<div class="form-group">
				<label class="lbltxt">{{ 'vehicleCondition' | translate }}</label>
				<div class="selectbox">
					<select name="condition_id" #condition [(ngModel)]="searchnewobj.condition_id" [formControl]="addSearchForm.controls['condition_id']" class="form-control" >
					<option value="" default>{{ 'vehicleCondition' | translate }}</option>
					<option *ngFor="let data of conditions; let i = index;" value="{{ data.id }}">
					{{ data.name | translate }}
					</option>
					</select>
				</div>	
			</div>
			<!-- Price Range -->
			<div class="form-group">
             <div class="priceslider">	
				<label class="lbltxt">{{ 'askingPrice' | translate }}</label>
				<ng5-slider [formControl]="addSearchForm.controls['price_range']" [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
             </div>   
			</div>
			<!-- Mileage -->
			<div *ngIf="condition.value==2 || condition.value==''" class="form-group">
				<label class="lbltxt">{{ 'mileage' | translate}}</label>
				<div class="selectbox">
					<select name="kilometer" [formControl]="addSearchForm.controls['kilometer']" [(ngModel)]="searchnewobj.kilometer" class="form-control">
						<option value="" default>{{ 'mileage' | translate}}</option>
						<option *ngFor="let data of kilometres; let i = index;" value="{{ data.kilometer }}">
							{{ data.kilometer }}
						</option>
					</select>
				</div>
			</div>
			<!-- Color -->
			<div class="form-group">
				<label class="lbltxt">{{ 'Color' | translate }}</label>
				<div class="selectbox">
					<select name="color_id" [(ngModel)]="searchnewobj.color_id" [formControl]="addSearchForm.controls['color_id']"  class="form-control" >
					<option value="" default>{{ 'Color' | translate }}</option>
					<option *ngFor="let data of colors; let i = index;" value="{{ data.id }}">
					{{ data.name | translate}}
					</option>
					</select>
				</div>	
			</div>
			<!-- Interior -->
			<div *ngIf="condition.value==2  || condition.value==''" class="form-group">
				<label class="lbltxt">{{ 'Interiors' | translate}}</label>
				<div class="selectbox">
					<select name="interiors" [formControl]="addSearchForm.controls['interiors']" [(ngModel)]="searchnewobj.interiors" class="form-control">
						<option value="" default>{{ 'Interiors' | translate}}</option>
						<option *ngFor="let data of interiors; let i = index;" value="{{ data.name }}">
							{{ data.name | translate}}
						</option>
					</select>
				</div>	
			</div>
			<!-- No. Of Seates -->
			<div class="form-group">
				<label class="lbltxt">{{ 'FILTERSEARCH.Seats' | translate}}</label>
				<div class="selectbox">
					<select class="form-control" [(ngModel)]="searchnewobj.seats" name="seats" [formControl]="addSearchForm.controls['seats']" >
						<option value="" default>{{ 'seats' | translate}}</option>
						<option *ngFor="let data of seats; let i = index;" value="{{ data.seat_id }}">
							{{ data.seat_id }}
						</option>
					</select>
				</div>	
			</div>

			<div class="form-group d-flex form-group justify-content-between align-items-center">
				<button type="submit" class="btn btnsearch">{{ 'search' | translate}}</button>
				<a href="javascript:void(0)" (click)="resetFilters(f);" class="clrfltr">{{ 'clearFilters' | translate}}</a>
			</div>
			<!-- Search -->
		</form>
	</div>	
<!-- </div> -->