
<!-- signup -->
<div class="modal modalPos fade" id="editProfile">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body seminor-login-modal-body">
            <div class="mb-4">
                <button #closeEditUserForm type="button" class="close closebtn" data-dismiss="modal" (click)="closeForm(f);">
                    <span class="sprite cross"></span>
                </button>
            </div>
                
            <div class="formwrap"> 
                 <form #f="ngForm" [formGroup]="editUserForm" (ngSubmit)="editUserForm.valid && editUserSubmit(editUserForm.value,f);" novalidate="false">
                    <h2 class="title text-center mb-4 text-uppercase">{{ 'editProfile' | translate}}</h2>
 
                    <div *ngIf="!isIndividual" class="form-group">
                        <label for="company_name" class="">{{ 'companyname' | translate}}</label>                        
                        <input type="text" class="form-control" [(ngModel)]="editProfile.company_name" autocomplete="off" placeholder="{{ 'companyname' | translate}}"  [formControl]="editUserForm.controls['company_name']">
                        <p class="errorMessage" *ngIf=" (editUserForm.controls['company_name'].hasError('required') && f.submitted )" style="color:red">*{{ 'companyname' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                    </div>

                    <div class="form-group">
                        <label for="name" class="">{{ ((isIndividual) ? 'name' : 'contactPerson') | translate}}</label>
                        <input type="text" minlength="5" maxlength="50" [(ngModel)]="editProfile.name" name="name" class="form-control" pattern="[a-zA-Z][a-zA-Z ]+" [formControl]="editUserForm.controls['name']" placeholder="{{ ((isIndividual) ? 'name' : 'contactPerson') | translate}}">
                        <p *ngIf="(editUserForm.controls['name'].hasError('required') && f.submitted)" class="errorMessage" style="color:red">*{{ ((isIndividual) ? 'name' : 'contactPerson') | translate }} {{ 'errorCantEmpty' | translate}}</p>
                        <p class="errorMessage" *ngIf="(editUserForm.controls['name'].hasError('pattern') && f.submitted)" style="color:red">*{{ 'errorAlphabetsAllowed' | translate}}</p>
                        <p class="errorMessage" *ngIf="(editUserForm.controls['name'].hasError('pattern') == false) && (editUserForm.controls['name'].hasError('minlength') && f.submitted )" style="color:red">*{{ (isIndividual) ? 'name' : 'contactPerson' }} {{'errorMinimumChar' | translate}}</p>
                    </div>

                    <div class="form-group">
                        <label for="email" class="">{{ 'email' | translate}}</label>                            
                        <input type="email" [(ngModel)]="editProfile.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [formControl]="editUserForm.controls['email']" class="form-control"  autocomplete="off" placeholder="{{ 'email' | translate}}">
                        <p class="errorMessage" *ngIf="(editUserForm.controls['email'].hasError('required') && f.submitted )" style="color:red">*{{ 'email' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                            <p class="errorMessage" *ngIf="(editUserForm.controls['email'].hasError('pattern') && f.submitted)" style="color:red">*{{ 'errorInvalidEmail' | translate}}</p>
                    </div>

                    <div class="form-group">
                        <label for="PhoneNo" class="">{{ 'phoneNumber' | translate}}</label>
                        <input type="tel" name="phone" [(ngModel)]="editProfile.phone" (keypress)="numOnly($event)" [formControl]="editUserForm.controls['phone']" class="form-control" placeholder="{{ 'phoneNumber' | translate}}" pattern="[0-9]*" minlength="15" maxlength="15">
                        <p class="errorMessage" *ngIf=" (editUserForm.controls['phone'].hasError('required') && f.submitted )" style="color:red">*{{ 'errorEneterPhone' | translate}}</p>
                            <p class="errorMessage" *ngIf="(editUserForm.controls['phone'].hasError('pattern') && f.submitted)" style="color:red">*{{ 'errorNumOnly' | translate}}</p>
                            <p class="errorMessage" *ngIf="(editUserForm.controls['phone'].hasError('pattern') == false) && (editUserForm.controls['phone'].hasError('minlength') && f.submitted )"
                                style="color:red">*{{ 'errorPhoneNumSize' | translate}}</p>
                    </div>

                     <div *ngIf="!isIndividual" class="form-group">
                        <label for="LicenseNo" class="">{{ 'licenseNumber' | translate}}</label>
                        <input type="text" class="form-control" [(ngModel)]="editProfile.license_number" placeholder="{{ 'licenseNumber' | translate}}" [formControl]="editUserForm.controls['license_number']" >
                        
                        <p class="errorMessage" *ngIf=" (editUserForm.controls['license_number'].hasError('required') && f.submitted )" style="color:red">*{{ 'licenseNumber' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                    </div>

                    <div class="form-group">
                        <label for="countryName" class="">{{ 'Country' | translate}}</label>
                        <select name="country_id" class="form-control" [(ngModel)]="editProfile.country_id" [formControl]="editUserForm.controls['country_id']" (change)="getAllCities($event.target.value)">
                                    <option value="" default>{{ 'Country' | translate}}</option>
                                    <option *ngFor="let data of countries; let i = index;" value="{{ data.id }}">
                                        {{ data.key | translate}}
                                    </option>
                        </select>
                        <p class="errorMessage" *ngIf="(editUserForm.controls['country_id'].hasError('required') &&  f.submitted)" style="color:red">*{{ 'Country' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                    </div>
                   
                    <div class="form-group">
                        <label for="city" class="">{{ 'City' | translate}}</label>
                        <select name="city_id" class="form-control" [(ngModel)]="editProfile.city_id" [formControl]="editUserForm.controls['city_id']">
                            <option value="" default>{{ 'City' | translate}}</option>
                            <option *ngFor="let cityData of cities" value="{{ cityData.id }}">
                                {{ cityData.key | translate}}
                            </option>
                        </select>
                        <p class="errorMessage" *ngIf="(editUserForm.controls['city_id'].hasError('required') &&  f.submitted)" style="color:red">*{{'City' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                    </div>

                    <div *ngIf="!isIndividual" class="form-group">
                        <label for="address" class="">{{ 'address' | translate}}</label>
                        <input type="text" class="form-control" [(ngModel)]="editProfile.address" name="" placeholder="{{ 'address' | translate}}" [formControl]="editUserForm.controls['address']" >
                        <p class="errorMessage" *ngIf=" (editUserForm.controls['address'].hasError('required') && f.submitted )" style="color:red">*{{ 'address' | translate}} {{ 'errorCantEmpty' | translate}}</p>
                    </div>

                    <div class="btn-check-log form-group">
                        <button type="submit" class="btn btnlogin btn-block">
                        <span *ngIf="!isloader">{{ 'update' | translate}}</span>
                        <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                <div></div>
                                <div></div>
                        </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- delersignup -->
<a class="btn btnsign nav-link" style="display: none" #otpModal data-target="#otpModel" data-toggle="modal" data-backdrop="static"></a>