<section class="sectionWrap">
    <div class="container">
        <div *ngIf="isShow" class="innerboxWrap">
            <div class="text-center sell-car-info">
                <h2 class="txt30">{{ 'SELLYOURCAR' | translate}}</h2>
                <p>{{ 'vehicleInformation' | translate}}</p>
            </div>

            <div class="mt-4">
                <form #f="ngForm" [formGroup]="addSellcarForm" (ngSubmit)="addSellcarForm.valid && sellCarData(addSellcarForm.value,f);"
                    novalidate="false">
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'VIN' | translate }}</label>
                            <input type="text" id="vin" #vin [formControl]="addSellcarForm.controls['vin']" (blur)="getVinInfo($event.target.value)" name="vin" [(ngModel)]="vinInfo.vin" class="form-control" placeholder="{{ 'VIN' | translate }}" autofocus>
                            <div class="inputControls">
                                <div id="deviceready">
                                        <a href="javascript:void(0);" (click)="scan()">{{'Scan VIN' | translate}}</a>
                                </div>
                            </div>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['vin'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterVIN' | translate}}</p>
                            <p class="errorMessage" *ngIf="isValidVIN" style="color:red">*{{ 'The VIN entered is invalid, please enter a valid VIN.' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'yearFrom' | translate }}</label>
                            <select #year id="year" name="yearfrom" class="form-control" [(ngModel)]="vinInfo.year" [formControl]="addSellcarForm.controls['yearfrom']" #year (change)="setMakes(year.value)">
                                <option value="" default>{{ 'yearFrom' | translate}}</option>
                                <option *ngFor="let year of year_from" value="{{year.name}}" >{{ year.name }}</option>
                            </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['yearfrom'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterYear' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'CarMake' | translate }}</label>
                            <select name="make_id" class="form-control" [(ngModel)]="vinInfo.make_id" [formControl]="addSellcarForm.controls['make_id']" (change)="getAllModels($event.target.value)">
                                <option value="" default >{{ 'CarMake' | translate}}</option>
                                <option *ngFor="let data of makes; let i = index;" value="{{ data.id }}">
                                    {{ data.key | translate}}
                                </option>
                            </select>
            
                            <p *ngIf="(addSellcarForm.controls['make_id'].hasError('required') && f.submitted)" class="errorMessage" style="color:red">*{{ 'errorEnterMake' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'CarModel' | translate }}</label>
                            <select name="model_id" class="form-control" [(ngModel)]="vinInfo.model_id" [formControl]="addSellcarForm.controls['model_id']" (change)="getAllTrims($event.target.value)">
                                <option value="" default>{{ 'CarModel' | translate}}</option>
                                <option *ngFor="let modelData of models" value="{{modelData.id}}">{{modelData.name | translate}}</option>
                            </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['model_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterModel' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'trims' | translate }}</label>
                            <select name="trim_id" class="form-control" [(ngModel)]="vinInfo.trim_id" [formControl]="addSellcarForm.controls['trim_id']" (change)="getSpecifications($event.target.value)">
                                <option value="" default>{{ 'trims' | translate}}</option>
                                <option *ngFor="let trimsData of trims" value="{{trimsData.id}}">{{trimsData.name | translate}}</option>
                            </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['trim_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterTrim' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'modelBody' | translate }}</label>
                            <select name="model_body" class="form-control" [(ngModel)]="vinInfo.model_body" [formControl]="addSellcarForm.controls['model_body']">
                                <option value="" default>{{ 'modelBody' | translate}}</option>
                                <option *ngFor="let modelBodyData of modelBody" value="{{modelBodyData.id}}">{{modelBodyData.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'Engine Size' | translate }}</label>
                            <select name="engine_size" class="form-control" [(ngModel)]="vinInfo.engine_size" [formControl]="addSellcarForm.controls['engine_size']">
                                <option value="" default>{{"Engine Size" | translate}}</option>
                                <option *ngFor="let engineSizeData of engineSize" value="{{engineSizeData.id}}">{{engineSizeData.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'Engine Cylinders' | translate }}</label>
                            <select name="engine_cylinders" class="form-control" [(ngModel)]="vinInfo.engine_cylinders" [formControl]="addSellcarForm.controls['engine_cylinders']">
                                <option value="" default>{{ 'Engine Cylinders' | translate}}</option>
                                <option *ngFor="let cylindersData of engineCylinders" value="{{cylindersData.id}}">{{cylindersData.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'horsepower' | translate }}</label>
                            <select name="horsepower" class="form-control" [(ngModel)]="vinInfo.horsepower" [formControl]="addSellcarForm.controls['horsepower']">
                                <option value="" default>{{ 'horsepower' | translate}}</option>
                                <option *ngFor="let horsepowerData of horsepower" value="{{horsepowerData.id}}">{{horsepowerData.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'Fuel Type' | translate }}</label>
                            <select name="fuel_type" class="form-control" [(ngModel)]="vinInfo.fuel_type" [formControl]="addSellcarForm.controls['fuel_type']">
                                <option value="" default>{{'Fuel Type' | translate}}</option>
                                <option *ngFor="let fuelTypeData of fuelType" value="{{fuelTypeData.id}}">{{fuelTypeData.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'Number Of Doors' | translate }}</label>
                            <select name="doors" class="form-control" [(ngModel)]="vinInfo.doors" [formControl]="addSellcarForm.controls['doors']">
                                <option value="" default>{{'Number Of Doors' | translate}}</option>
                                <option *ngFor="let doorsData of doors" value="{{doorsData.id}}">{{doorsData.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'Country' | translate }}</label>
                            <select name="country_id" class="form-control" [formControl]="addSellcarForm.controls['country_id']" (change)="getAllCities($event.target.value)"
                                [(ngModel)]="vinInfo.country_id">
                                    <option value="" default>{{ 'Country' | translate}}</option>
                                    <option *ngFor="let data of countries; let i = index;" value="{{ data.id }}">
                                            {{ data.key | translate}}
                                    </option>
                                </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['country_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterCountry' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'City' | translate }}</label>
                            <select name="city_id" class="form-control" [(ngModel)]="vinInfo.city_id" [formControl]="addSellcarForm.controls['city_id']">
                            <option value="" default>{{ 'City' | translate}}</option>
                            <option *ngFor="let cityData of cities" value="{{ cityData.id }}">
                                {{ cityData.key | translate}}
                            </option>
                        </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['city_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterCity' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'askingPrice' | translate }}</label>
                            <input type="tel" (keypress)="numOnly($event)" name="price" class="form-control" [formControl]="addSellcarForm.controls['price']"
                                placeholder="{{ 'askingPrice' | translate}}" [(ngModel)]="vinInfo.price">
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['price'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterPrice' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'mileage' | translate }}</label>
                            <input type="text" name="kilometer" (keypress)="numOnly($event)" class="form-control" [formControl]="addSellcarForm.controls['kilometer']"
                                placeholder="{{ 'mileage' | translate}}">
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['kilometer'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterMileage' | translate}}</p>

                        </div>
                        <div class="form-group col-lg-4 col-md-6 mb-lg-4 selectbox">
                            <label class="form-check-label txtgrey">{{ 'mileagetype' | translate }}</label>
                            <select name="mileagetype" class="form-control" [formControl]="addSellcarForm.controls['mileagetype']">
                                <option value="km" default>{{ 'Kilometers' | translate}}</option>
                                <option value="miles">{{ 'Miles' | translate}}</option>
                            </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['mileagetype'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterMileageType' | translate}}</p>

                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'vehicleCondition' | translate }}</label>
                            <select name="condition_id" class="form-control" [formControl]="addSellcarForm.controls['condition_id']" class="form-control">
                                <option value="" default>{{ 'vehicleCondition' | translate}}</option>
                                    <option *ngFor="let data of conditions; let i = index;" value="{{ data.id }}">
                                        {{ data.name | translate}}
                                    </option>
                            </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['condition_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterCondition' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'Color' | translate }}</label>         
                            <select name="color_id" class="form-control" [formControl]="addSellcarForm.controls['color_id']" class="form-control">
                                <option value="" default>{{ 'Color' | translate}}</option>
                                <option *ngFor="let data of colors; let i = index;" value="{{ data.id }}">
                                        {{ data.name | translate}}
                                    </option>
                            </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['color_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterColor' | translate}}</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-6 selectbox mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'noOfSeats' | translate }}</label>         
                            <!-- <input type="tel" [formControl]="addSellcarForm.controls['seat_id']" name="seat_id" class="form-control" placeholder="{{ 'noOfSeats' | translate }}"
                                (keypress)="numOnly($event)" [(ngModel)]="vinInfo.seats"> -->

                            <select name="seat_id" class="form-control" [(ngModel)]="vinInfo.seats" [formControl]="addSellcarForm.controls['seat_id']" class="form-control">
                                <option value="" default>{{ 'noOfSeats' | translate}}</option>
                                <option *ngFor="let seatdata of seat; let i = index;" value="{{ seatdata.name }}">
                                        {{ seatdata.name}}
                                    </option>
                            </select>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['seat_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterSeats' | translate}}</p>
                        </div>
                        <div class="form-group col-md-12 mb-lg-4 redblock">
                            <label class="formlbl">{{ 'interiorLable' | translate }}</label>
                            <tag-input 
                                [formControl]="addSellcarForm.controls['interior_id']" 
                                [placeholder]="'interiorDesignDetails' | translate" 
                                [secondaryPlaceholder]="'interiorDesignDetails' | translate"
                                [@.disabled]="true" 
                                name="interior_id">
                            </tag-input>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['interior_id'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterInterior' | translate}}</p>
                        </div>
                        <!-- description -->
                        <div class="form-group col-md-12 mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'CarDescription' | translate }}</label>
                            <textarea name="description" [formControl]="addSellcarForm.controls['description']" class="form-control" rows="5" id="comment"
                                placeholder="{{ 'CarDescription' | translate}}" [(ngModel)]="vinInfo.description"></textarea>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['description'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorEnterDescription' | translate}}</p>
                        </div>
                         <div class="form-group col-lg-4 col-md-6 mb-lg-4">
                            <label class="form-check-label txtgrey">{{ 'uploadyoutube' | translate }}</label>
                            <input type="text" [formControl]="addSellcarForm.controls['video']" name="video" class="form-control" placeholder="{{ 'uploadyoutube' | translate}}">
                        </div>
                        <!--  -->

                        <div class="form-group col-md-12 mb-lg-4">
                            <label class="formlbl">{{ 'addPhoto' | translate}}</label>
                            <div class="uploadimg">
                                <div #documentFile class="multipleImageWrap" id="imageID">
                                    <div class="uplodblock divImagesWrap">
                                        <span class="camera sprite"></span>
                                        <input type="file" id="fileUpload" [formControl]="addSellcarForm.controls['fileInput']" name="companyDoc" #companyDoc (change)="addVehicleImages($event, documentFile)"/>
                                    </div>
                                </div>
                            </div>
                            <p class="errorMessage" *ngIf="(addSellcarForm.controls['fileInput'].hasError('required') &&  f.submitted)" style="color:red">*{{ 'errorEnterFile' | translate}}</p>
                            <p class="errorMessage" style="color:red" *ngIf="maxImageError!=''">{{maxImageError}}</p>
                        </div>

                        <!-- submit -->
                        <button type="submit" class="btn btnsubmit">
                            <span *ngIf="!isloader">{{ 'submit' | translate}}</span>
                            <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                <div></div>
                                <div></div>
                            </div>
                        </button>

                    </div>
                </form>
            </div>
        </div>
        <div class="innerboxWrap" *ngIf="!isShow">
            <div class="error-template text-center">
                <h1>
                    {{ 'oops' | translate}}</h1>
                <div class="error-details">
                        {{ 'errorExceededLimit' | translate}}
                </div>
            </div>
        </div>
    </div>
</section>