.selectbox:after {
    background: url('assets/images/Spritesheet.png');
    background-position: -40px -24px;
    width: 12px;
    height: 6px;
    content: '';
    right: 28px;
    top: 40px;
    position: absolute;
    pointer-events: none;
}

.form-control{
    background-color: transparent;
}

.sell-car-info p{color: #3e4953;margin-bottom: 0;font-size: 16px;font-family: 'Raleway';font-weight: 500;}

.innerboxWrap > .selll-car-info > h2.txt30{margin-bottom: 10px;}

.uploadimg {
    display: -webkit-box;   
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;     
    display: flex;
}
.uplodblock input[type=file]{
     -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
    width: 100%;
    height: 100%;
}
.uplodblock input[type=file]::-webkit-file-upload-button{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
    width: 100%;
    height: 100%;
}

.uplodblock{
    position:relative;
    display:inline-block;    
    border-radius:6px;
    border:#ebebeb solid 1px; 
    background: #d3d3d3;
    width: 90px;
    height: 90px;
    /*margin-bottom: 10px;*/
    margin-right: 10px;
}
.camera {
    background-position: -724px -80px;
    width: 38px;
    height: 30px;
    display: block;
    position: absolute;
    left: calc(90px - 64px);
    top: calc(90px - 62px);
}
.uploaded{
        width: 90px;
    height: 90px;
    border: 1px solid red;
    display: inline-block;
    margin-bottom: 10px;

}
.btnsubmit{
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
    max-width: 190px;
    height: 44px;
}


/* .uplodblock input[type=file]::-webkit-file-upload-button {
  border: 1px solid #d3d3d3;
  width:150px;
  height: 150px;
} */

.formlbl{
    color: #3e4953;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
    .innerboxWrap{
        width: 100%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    .txt30{
        font-size: 28px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .txt30{
        font-size: 22px;
    }
    
    ::-webkit-input-placeholder{
        font-size: 14px;
    }
}