<div class="modal modalPos fade" id="resetpwd">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <div class="mb-4">
                    <button #closeResetPwd type="button" class="close closebtn" data-dismiss="modal" (click)="closeForm(f);">
                      <span class="sprite cross"></span>
                  </button>
                </div>

                <div class="formwrap">
                    <form class="seminor-login-form" #f="ngForm" [formGroup]="resetPwdForm" (ngSubmit)="resetPwdForm.valid && resetPwd(resetPwdForm.value,f);">
                    
                        <h2 class="title text-center mb-4 text-uppercase">{{'resetPassword' | translate}}</h2>

                        <div class="form-group">
                            <input type="password" class="form-control" [formControl]="resetPwdForm.controls['new_password']" autocomplete="off" placeholder="{{'newPassword' | translate}}">
                            <label for="new password" class="sr-only">{{'newPassword' | translate}}</label>

                            <p class="errorMessage" *ngIf="(resetPwdForm.controls['new_password'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorNewPassword' | translate}}.</p>                            
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" [formControl]="resetPwdForm.controls['confirm_password']" autocomplete="off" placeholder="{{'confirmNewPassword' | translate}}">
                            <label for="confirn password" class="sr-only">{{'confirmNewPassword' | translate}}</label>

                            <p class="errorMessage" *ngIf="(resetPwdForm.controls['confirm_password'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorConfirmNewPassword' | translate}}.</p>

                            <p *ngIf="resetPwdForm.controls['confirm_password'].errors?.MatchPassword" style="color: red; font-size: 13px;">*{{'errorMatchPassword' | translate}}</p>

                        </div>

                        <div class="btn-check-log form-group">
                            <button type="submit" class="btn btnlogin btn-block">
                                <span *ngIf="!isloader">{{'update' | translate}}</span>
                                <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                        <div></div>
                                        <div></div>
                                </div>
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>