<div class="modal modalPos fade" id="testDerivelist">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="mheader">
                <p>{{ 'testDriveBooking' | translate }} 
                <button class="close closebtn" data-dismiss="modal" type="button">
                    <span class="sprite cross"></span>
                </button>
                </p>
			</div>

			<div class="modal-body">
				<div *ngIf="bookinglist?.length > 0" class="bookinglist">
					<ul class="">
						<li *ngFor="let item of bookinglist" class="">
							<div class="flexcol">
								<p class="bookingmsg">{{ item.customer_name }} {{ 'testDriveRqstTxt' | translate }}    {{ item.vehicle_name }}</p>
								<p class="fontlato bookingdate">{{ item.created }},&nbsp;&nbsp;
									<span>{{ 'contactAt' | translate }} : </span>
									<em>{{ item.customer_email }}</em>,&nbsp;&nbsp;
									<span *ngIf="item.status==0">
										<button class="btn btn-success">
											<span _ngcontent-c6="" class="ng-star-inserted" (click)="rqstStatus(item, 1)">Accept</span>
										</button>
										&nbsp;&nbsp;
										<button class="btn btn-danger">
											<span _ngcontent-c6="" class="ng-star-inserted" (click)="rqstStatus(item, 2)">Reject</span>
										</button>
									</span>
									<span *ngIf="item.status>0">
										 {{ ((item.status==1) ? 'Request Accepted' : 'Request Rejected') | translate}}.		
									</span>
								</p> 
							</div>

						</li>
					</ul>
				</div>
				<div *ngIf="bookinglist?.length == 0" class="bookinglist">
						<div id="mainC">
								<div class="message">
									<div class="container">
										<div class="row">
											<div class="col-md-12">
												<div class="error-template text-center">
													<h1>
														{{ 'oops' | translate }}!</h1>
													<div class="error-details">
														{{'noTestDriveRqstTxt' | translate}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
	</div>
</div>