/*modal*/
#testDerivelist .mheader{
	background-color: #ff3b3d;
	color: #fff;
	    padding: 12px;
}
#testDerivelist .mheader p{
	    text-align: center;
    margin-bottom: 0;
    font-size: 18px;
}
#testDerivelist p{
	margin-bottom: 0;
}
#testDerivelist p.bookingmsg{
	font-size: 16px;
	font-weight: 500;
}
#testDerivelist p.bookingdate{
	font-size: 14px;
}
#testDerivelist ul{
	list-style: none;
}
#testDerivelist ul li {
    color: #686e76;
    border-bottom: 1px solid #ececeb;
  padding: 6px 8px;
  display: flex;
  align-items: baseline;
}
#testDerivelist ul li:last-child {
border-bottom: none;
}
#testDerivelist .modal-body{
	padding: 0;
}
/*.bookinglist {
    padding: 0 10px 0px 30px;
}*/
#testDerivelist .modal-body ul li::before {
content: "";
    background-color: #474948;
    font-weight: bold;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 4px;
}
#testDerivelist .modal-dialog{
max-width: 655px;
}
#testDerivelist .modal-content{
	overflow: hidden;
}
#testDerivelist .mheader p button.span{vertical-align: middle;}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
   
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px){
#testDerivelist .modal-dialog{
	max-width: 600px;
	}

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
  
	#testDerivelist .modal-dialog{
	max-width: 500px;
	}
	#testDerivelist p.bookingmsg{
	font-size: 14px;
	}
	#testDerivelist p.bookingdate{
	font-size: 12px;
	}
	#testDerivelist p{
		text-align: left;
	}
	
    #testDerivelist .mheader{
    	padding: 4px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {   
}