<div class="modal modalPos fade" id="chngepwd">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body seminor-login-modal-body">
                <div class="mb-4">
                    <button #closeChangePwd type="button" class="close closebtn" data-dismiss="modal" (click)="closeForm(f);">
                      <span class="sprite cross"></span>
                  </button>
                </div>

                <div class="formwrap">
                    <form class="seminor-login-form" #f="ngForm" [formGroup]="changePwdForm" (ngSubmit)="changePwdForm.valid && changePwd(changePwdForm.value,f);">
                    
                        <h2 class="title text-center mb-4 text-uppercase">{{ 'CHANGEPASSWORD.ChangePassword' | translate}}</h2>

                        <div class="form-group">
                            <input type="password" class="form-control" [formControl]="changePwdForm.controls['old_password']" autocomplete="off" placeholder="{{ 'oldPassword' | translate}}">
                            <label for="old password" class="sr-only">{{ 'CHANGEPASSWORD.OldPassword' | translate}}</label>

                            <p class="errorMessage" *ngIf="(changePwdForm.controls['old_password'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorOldPassword' | translate}}</p>                            
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" [formControl]="changePwdForm.controls['new_password']" autocomplete="off" placeholder="{{ 'newPassword' | translate}}">
                            <label for="new password" class="sr-only">{{ 'CHANGEPASSWORD.NewPassword' | translate}}</label>

                            <p class="errorMessage" *ngIf="(changePwdForm.controls['new_password'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorNewPassword' | translate}}</p>                            
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" [formControl]="changePwdForm.controls['confirm_password']" autocomplete="off" placeholder="{{ 'confirmNewPassword' | translate}}">
                            <label for="confirn password" class="sr-only">{{ 'CHANGEPASSWORD.ConfirmPassword' | translate}}</label>

                            <p class="errorMessage" *ngIf="(changePwdForm.controls['confirm_password'].hasError('required') && f.submitted)" style="color:red">*{{ 'errorConfirmNewPassword' | translate}}</p>

                            <p *ngIf="changePwdForm.controls['confirm_password'].errors?.MatchPassword" style="color: red; font-size: 13px;">*{{ 'errorMatchPassword' | translate}}</p>

                        </div>

                        <div class="btn-check-log form-group">
                            <button type="submit" class="btn btnlogin btn-block">
                                <span *ngIf="!isloader">{{ 'update' | translate}}</span>
                                <div *ngIf="isloader" style="color: #fff" class="la-ball-clip-rotate-multiple">
                                        <div></div>
                                        <div></div>
                                </div>
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>